<div class="message-container" id="message-<%= message.anchor_id %>">
  <i class="author">
    <span><%= message.user.username %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>
