@font-face {
  font-family: "AlternateGotNo2D";
  font-display: swap;
  src:
       font-url('AlternateGotNo2D.ttf') format('truetype')
}

$my-font: "AlternateGotNo2D";
$body-font: "AlternateGotNo2D";
$headers-font: "AlternateGotNo2D";
