.confirmation-page {
  background-color: #9b9b9b;
  color: #333;
  text-align: center;
  font-family: AlternateGotNo2D;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  height: 100vh;
  margin: 0;
}
.confirmation-page-container {
  max-width: 500px;
  margin: 0 auto;
}
.confirmation-page .confirmation-page-peep {
  margin:  0 auto;
}
.confirmation-page .confirmation-page-title {
  text-align: left;
  margin: 2rem 0 2rem 1rem;
  position: relative;
  width: fit-content;
}
.confirmation-page h1 {
  font-size: 5rem;
  color: black;
  line-height: 1.5em;
  margin: 0;
  position: relative;
  z-index: 1;
}
.confirmation-page .underlined-title-confirmation-page {
  height: 2.5em;
  position: absolute;
  bottom: 8px;
  width: 100%;
  background-color: #cff170;
  left: -11px;
}
.confirmation-page p {
  font-size: 1.5rem;
  text-align: left;
  margin: 0 1rem;
}
