.dashboard__container {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #9b9b9b;
  z-index: 0;
}
.dashboard__underlined-title {
  position: absolute;
  font-size: 3rem;
  right: 11vw;
  width: fit-content;
  top: 130px;
}
.dashboard__underline {
  height: 24px;
  top: -21px;
  right: 8px;
  position: relative;
  background-color: #D1BFF6;
  z-index: -1;
}
.dashboard__content {
  background-color: #d6d6d6;
  width: 90%;
  margin: 230px auto 100px auto;
  border: solid 4px black;
  box-shadow: -8px -8px 0 0 black;
  padding: 0.5rem;
  position: relative;
  z-index: -3;
}
.dashboard__avatar_and_username {
  display: block;
  margin-top: 1rem;
}
.dashboard__line-separator {
  height: 1px;
  border-bottom: 4px dashed black;
  margin-top: 1.5vh;
}
.dashboard__upper-links {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}
.dashboard__upper-link {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
}
.dashboard__upper-link-text {
  margin-bottom: 0;
}
.dashboard__upper-link-text:hover {
  color: black;
}
.dashboard__upper-link-text--edit {
  position: relative;
}
.dashboard__upper-link-underline {
  height: 8px;
  position: relative;
  top: -8px;
  right: -10px;
  z-index: -1;
}
.dashboard__upper-link-underline--green {
  background-color: #7ECA93;
  width: 22%;
  transition: width 0.3s ease-in-out;
}
.dashboard__upper-link-underline--gray {
  background-color: #858585;
  width: 19%;
  transition: width 0.3s ease-in-out;
}
.dashboard__upper-link:hover {
  .dashboard__upper-link-underline--gray, .dashboard__upper-link-underline--green {
    width: 100%;
  }
}
.dashboard__upper-link-uncomplete-badge {
  position: absolute;
  background-color: white;
  width: 3px;
  height: 3px;
  opacity: 0.3;
  top: 8px;
  right: -2px;
  border-radius: 50%;
  box-shadow: 0 0 0 7px #e25043;
}
.dashboard__menus-wrapper {
  position: relative;
  margin-top: 1rem;
}
.dashboard__mobile-menu-more {
  font-size: calc(1.3rem + 0.6vw);
  text-align: end;
}
.dashboard__mobile-menu-arrow {
  width: 20px;
  height: 20px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(135deg);
  transition: transform 0.2s;
  cursor: pointer;
  margin-top: -1px;
  margin-left: 13px;
  position: absolute;
  right: 20px;
  top: 3px;
  z-index: 1;
}
.dashboard__menus-wrapper input[type="checkbox"] ~ .dashboard__mobile-menu-more::before {
  content: "More";
  margin-right: 50px;
}
.dashboard__menus-wrapper input[type="checkbox"] {
  display: none;
}
.dashboard__menus-wrapper input[type="checkbox"]:checked ~ .dashboard__mobile-menu-arrow {
  transform: rotate(315deg);
  top: 15px;
}
.dashboard__menus-wrapper input[type="checkbox"]:checked ~ .dashboard__mobile-menu-more::before {
  content: "Less";
}
.dashboard__menus-wrapper input[type="checkbox"]:checked ~ .dashboard__menus {
  max-height: 825px;
  transition: all 1s cubic-bezier(.2, 1, .22, 1);
  overflow: scroll;
}
.dashboard__menus {
  list-style-type: none;
  max-height: 0px;
  padding-left: 0px;
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 1vw;
  position: relative;
  right: 0px;
  top: -50px;
  overflow: hidden;
  transition: all 1s cubic-bezier(.1, 1, .22, 1);
}
.dashboard__menu {
  position: relative;
  height: fit-content;
  margin-top: 20px;
}
.dashboard__menu--jobs {
  width: 40px;
}
.dashboard__menu-title {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  line-height: 40px;
  width: fit-content;
  margin-bottom: 1vh;
}
.dashboard__menu-links {
  padding-left: 2px;
  border-left: 2px solid black;
  font-size: 1.5rem;
  transition: top .2s ease-in-out;
  margin-left: 15px;
  padding-top: 10px;
  padding-left: 1vw;
}
.dashboard__menu-link {
  display: block;
  margin: 0 0 1rem;
  cursor: pointer;
  width: fit-content;
  color: black;
  line-height: 1.2;
  text-decoration: none;
}
.dashboard__menu-link:hover {
  opacity: 1;
  color: black;
}
.dashboard__slider {
  display: flex;
  margin-bottom: 6rem;
  margin-top: 5rem;
  position: relative;
}
.dashboard__chevron-wrapper {
  margin: 0;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashboard__chevron {
  margin: 0;
  font-size: 4rem;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.dashboard__chevron--hidden {
  visibility: hidden;
}
.dashboard__chevron--left, .dashboard__chevron--right {
  cursor: pointer;
}
.dashboard__chevron--left {
  position: relative;
  left: -9px;
}
.dashboard__chevron--right {
  position: relative;
  right: -3px;
}
.dashboard__no-activity-placeholder {
  display: flex;
  align-items: baseline;
  margin-bottom: 10vh;
  width: fit-content;
  margin: 0 auto 12vh auto;
}
.dashboard__no-activity-text {
  text-align: center;
  margin-bottom: 8vh;
}
.dashboard__no-activity-icon {
  margin-left: 0.25rem;
}
.dashboard__cards {
  width: 80%;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.dashboard__cards::-webkit-scrollbar {
  display: none;
}
.dashboard__mobile-title {
  position: absolute;
  width: 100%;
  top: -55px;
  left: 0px;
  font-size: 2rem;
}
.dashboard__inquiry-list {
  margin-top: 3rem;
  width: 100%;
}
.dashboard__inquiry-list-item {
  display: block;
  margin-top: 2rem;
  border: 2px solid black;
}
.dashboard__inquiry-list-item:hover {
  box-shadow: black -1px -1px, black -2px -2px, black -3px -3px;
  transform: translate3d(3px, 3px, 0);
  transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
  transition-timing-function: line;
}
.dashboard__inquiry-list-item:nth-child(1) {
  margin-top: 0;
}
.dashboard__inquiry-record-date {
  margin: 0;
  height: 100%;
  background-color: #333;
  color: #d6d6d6;
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: center;
  line-height: 2rem;
}
.dashboard__inquiry-record-text {
  margin: 0;
  font-size: 1rem;
  background-color: #858585;
  padding: 1vh;
  line-height: 2rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.dashboard__inquiry-record-link {
  color: #d6d6d6;
  text-decoration: none;
}
.dashboard__inquiry-record-link:hover {
  color: #D1BFF6;
  box-shadow: inset 0 -30px 0 #333, 0 2px 0 #333;
  transition: box-shadow .3s, color .3s;
}
.dashboard__inquiry-record-btn {
  text-decoration: none;
  height: 50px;
  width: 100%;
  display: block;
  text-align: center;
  color: black;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__inquiry-record-icon {
  font-size: 1.5rem;
  color: #333;
  width: 25px;
}
.dashboard__inquiry-record-btn--show {
  background-color: #D1BFF6;
}
.dashboard__inquiry-record-btn--show:hover {
  background-color: #D1BFF6 !important;
}
.dashboard__inquiry-record-btn--edit {
  background-color: #767676;
}
.dashboard__inquiry-record-btn--delete {
  background-color: #a34646;
}
.dashboard__inquiry-record-btn--delete:hover {
  background-color: #a34646 !important;
}
.dashboard__inquiry-record-icon {
  font-size: 1.5rem;
  color: #333;
  width: 25px;
}
.dashboard__inquiry-record-btn:hover .dashboard__inquiry-record-icon {
  color: black;
}
.dashboard__sent-inquiries-icons {
  height: 150px;
}
.dashboard__bottom-link-wrapper {
  width: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}
.dashboard__bottom-link {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.dashboard__bottom-link-text {
  margin-bottom: 0;
  margin-right: 1rem;
  text-decoration: none;
  color: black;
}
.dashboard__bottom-link-text:hover {
  color: black;
}
.dashboard__bottom-link-underline {
  height: 8px;
  position: relative;
  top: -8px;
  right: -10px;
  z-index: -1;
  background-color: #a34646;
  width: 30%;
  transition: width 0.3s ease-in-out;
}
.dashboard__bottom-link:hover .dashboard__bottom-link-underline {
  width: 100%;
}

@media(min-width: 450px) {
  .dashboard__underlined-title {
    font-size: 5rem;
    right: 6vw;
    top: 90px;
  }
  .dashboard__underline {
    height: 40px;
    top: -35px;
    right: 8px;
  }
  .dashboard__upper-links {
    width: fit-content;
  }
  .dashboard__bottom-link-wrapper {
    text-align: end;
  }
}
@media(min-width: 850px) {
  .dashboard__underlined-title {
    font-size: 6rem;
    right: 4vw;
    top: 70px;
  }
  .dashboard__underline {
    height: 49px;
    top: -43px;
    right: 14px;
  }
  .dashboard__content {
    padding: 2rem;
  }
  .dashboard__avatar_and_username {
    display: flex;
    align-items: center;
  }
  .dashboard__line-separator:first-child {
    display: none;
  }
  .dashboard__upper-links {
    margin: 0 auto;
    width: 50%;
  }
  .dashboard__upper-link {
    margin-left: 7vw;
  }
  .dashboard__menus-wrapper {
    margin-top: 7vh;
  }
  .dashboard__mobile-menu-more, .dashboard__mobile-menu-arrow {
    display: none;
  }
  .dashboard__menus {
    min-height: 125px;
    display: flex;
    justify-content: space-evenly;
    top: 0px;
    overflow: hidden;
  }
  .dashboard__menu-links {
    position: absolute;
    top: 38px;
    border-left: 2px solid transparent;
    font-size: 20px;
    padding-top: 0;
  }
  .dashboard__menu-link {
    margin: 0;
    display: none;
    opacity: 0.5;
  }
  .dashboard__menu {
    margin-top: 10px;
  }
  .dashboard__menu:hover .dashboard__menu-links {
    border-color: black;
    top: 43px;
  }
  .dashboard__menu:hover .dashboard__menu-links .dashboard__menu-link {
    display: block;
  }
  .dashboard__menu-title {
    opacity: .4;
    font-size: 2rem;
    cursor: pointer;
    font-size: calc(1.3rem + 0.6vw);
    height: 90px;
  }
  .dashboard__menu-title:hover {
    opacity: 1;
  }
  .dashboard__slider {
    margin-top: 0;
  }
  .dashboard__bottom-link-wrapper {
    margin: 0 auto;
  }
  .dashboard__bottom-link {
    margin-left: 7vw;
  }
  .dashboard__mobile-title {
    display: none;
  }
  .dashboard__inquiry-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin-top: 8px;
  }
  .dashboard__inquiry-record-date {
    justify-content: start;
    line-height: 1rem;
  }
  .dashboard__inquiry-list-item:nth-child(odd) {
    background-color: #a5a5a5;
  }
  .dashboard__inquiry-list-item:nth-child(odd) .dashboard__inquiry-record-date {
    background-color: #545454;
  }
  .dashboard__inquiry-list-item:nth-child(odd) .dashboard__inquiry-record-btn--show {
    background-color: #545454;
  }
  .dashboard__inquiry-list-item:nth-child(odd) .dashboard__inquiry-record-btn--edit {
    background-color: #767676;
  }
  .dashboard__inquiry-list-item:nth-child(odd) .dashboard__inquiry-record-btn--delete {
    background-color: #545454;
  }
  .dashboard__inquiry-list-item:nth-child(even) {
    background-color: #858585;
  }
  .dashboard__inquiry-list-item:nth-child(even) .dashboard__inquiry-record-date {
    background-color: #333;
  }
  .dashboard__inquiry-list-item:nth-child(even) .dashboard__inquiry-record-btn--show {
    background-color: #333;
  }
  .dashboard__inquiry-list-item:nth-child(even) .dashboard__inquiry-record-btn--edit {
    background-color: #565656;
  }
  .dashboard__inquiry-list-item:nth-child(even) .dashboard__inquiry-record-btn--delete {
    background-color: #333;
  }
  .dashboard__inquiry-record-text {
    line-height: 1rem;
    font-size: 1.3rem;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
  }
  .dashboard__inquiry-record-btn {
    width: 50px;
    height: 100%
  }
  .dashboard__inquiry-record-icon {
    color: #d6d6d6;
  }
  .dashboard__inquiry-record-icon:hover {
    color: black;
  }
  .dashboard__sent-inquiries-icons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
