.event-page-grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.event-title-and-details__title {
  border-bottom: dashed 4px black;
  background-color: #B1DDE1;
  padding: 1.5rem;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  text-align: center;
  min-height: 40vh;
  position: relative;
}
.event-title-and-details__title-text {
  font-size: 4rem;
  margin-bottom: 0;
  z-index: 2;
  line-height: 0.8;
}
.event-title-and-details__details {
  border-top: dashed 4px black;
  border-bottom: dashed 4px black;
  padding: 1.5rem;
}
.event-title-and-details__details--left {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.event-title-and-details__details--right {
  flex-grow: 1;
}
.event-title-and-details__details-title {
  color: #707070;
}
.event-title-and-details__detail-item {
  font-size: 1.7rem;
}
.event-title-and-details__genres {
  display: flex;
  padding: 1rem 0;
}
.event-title-and-details__genres-item {
  box-shadow: -6px -6px black;
  border: 3px solid black;
  width: auto;
  padding: 2px;
  background-color: #d6d6d6;
  font-size: 1rem;
  margin-right: 0.7rem;
}
.event-title-and-details__attendees-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-start;
}
.event-title-and-details__detail-item--venue {
  margin-right: 0.5rem;
}
.event-title-and-details__location {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.event-poster-and-description {
  display: flex;
  flex-direction: column-reverse;
  border-bottom: dashed 4px black;
}
.event-poster-and-description__poster {
  border-top: dashed 4px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.event-poster-and-description__img {
  max-width: 90%;
  max-height: 90%;
  filter: grayscale(70%);
  cursor: pointer;
}
.event-poster__overlay {
  background-color: #999999;
}
.event-poster__overlay img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter:
    drop-shadow(0 -4px 0 black)
    drop-shadow(0 4px 0 black)
    drop-shadow(-4px 0 0 black)
    drop-shadow(4px 0 0 black)
    drop-shadow(-8px -8px 0 black);
}
.event-poster__overlay-body {
  display: flex;
}
.event-poster__overlay-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
.event-poster-and-description__description {
  background-color: #B1DDE1;
  border-top: dashed 4px black;
  border-bottom: dashed 4px black;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  font-size: 1.3rem;
}
.event-medias {
  background-color: #333;
  border-top: dashed 4px black;
  min-height: 50px;
  flex-grow: 1;
}
.event-medias__links {
  padding: 3rem;
}
.event-medias__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #333;
  iframe {
    width: 250px;
    height: 250px;
    border: 3px solid black;
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
  }
}
@media(min-width: 450px) {
  .event-title-and-details__details {
    display: flex;
    padding: 3rem 3rem 1.5rem 1.5rem;
  }
  .event-title-and-details__attendees-wrapper {
    flex-direction: column;
    align-items: flex-end;
  }
  .event-title-and-details__details-title--attendees {
    text-align: right;
  }
  .event-title-and-details__detail-item--attendees-amount {
    text-align: right;
  }
}
@media(min-width: 992px) {
  .event-title-and-details {
    display: flex;
  }
  .event-title-and-details__title {
    width: 60%;
    border-right: dashed 4px black;
    height: auto;
  }
  .event-title-and-details__details {
    width: 40%;
    border-left: dashed 4px black;
    border-top: none;
  }
  .event-poster-and-description {
    display: flex;
    flex-direction: initial;
    background: linear-gradient(to right, #9b9b9b 0%, #9b9b9b 60%, #B1DDE1 60%, #B1DDE1 100%);
  }
  .event-poster-and-description__poster {
    border-right: dashed 4px black;
    width: 60%;
    padding: 2rem;
    justify-content: flex-start;
  }
  .event-poster-and-description__img {
    max-width: 100%;
    max-height: 100%;
    position: sticky;
    top: 30px;
  }
  .event-poster-and-description__description {
    border-left: dashed 4px black;
    border-bottom: none;
    width: 40%;
    padding: 2rem;
  }
}
