.inquiry-show-card {
  background-color: #d6d6d6;
  margin: 1vh auto;
  margin-top: 12vh;
  border: solid 4px black;
  box-shadow: -8px -8px 0 0 black;
  padding: 0 2rem;
  position: relative;
  z-index: 0;
  width: 65%;
  min-width: 250px;
}
.inquiry-show-card__back-link {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: #333;
  transition: box-shadow .3s, color .3s;
}
.inquiry-show-card__back-text, .inquiry-show-card__back-link:hover, .inquiry-show-card__back-text:hover {
  color: black;
  text-decoration: none;
}
.inquiry-show-card__back-arrow {
  transform: rotate(180deg);
  margin-right: 4px;
  padding-top: 4px;
}
.inquiry-show-card__pic {
  padding: 3vh 0;
  margin-top: 5rem;
}
.inquiry-show-card__username {
  text-align: center;
}
.inquiry-show-card__username-link {
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: box-shadow .5s, color .5s;
}
.inquiry-show-card__username-link:hover {
  color: #D1BFF6;
  box-shadow: inset 0 -36px 0 #333, 0 2px 0 #333;
}
.inquiry-show-card__body {
  border-top: 8px dashed black;
  border-bottom: 8px dashed black;
  margin-bottom: 4rem;
}
.inquiry-show-card__motivation, .inquiry-show-card__experience {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}
.inquiry-show-card__motivation-underlined-title, .inquiry-show-card__experience-underlined-title {
  display: inline-block;
  width: fit-content;
}
.inquiry-show-card__motivation-title, .inquiry-show-card__experience-title {
  position: relative;
  z-index: 1;
}
.inquiry-show-card__underline {
  width: 100%;
  background-color: #858585;
  height: 12px;
  position: relative;
  top: -11px;
  right: 6px;
  z-index: 0;
}
.inquiry-show-card__text {
  word-wrap: break-word;
}
.inquiry-show-card__status--hold {
  background-color: #333;
  padding: 2px;
  color: #d6d6d6;
}
.inquiry-show-card__status--accepted {
  background-color: #7ECA93;
  padding: 2px;
}
.inquiry-show-card__status--rejected {
  background-color: #a34646;
  padding: 2px;
}
.inquiry-show-card__change-status {
  margin-top: 12vh;
}
.inquiry-show-card__skills {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem 0;
  align-items: center;
}
.inquiry-show-card__skill {
  list-style-type: none;
  margin: 8px;
}
.inquiry-show-card__skill-box {
  box-shadow: -6px -6px black;
  border: 3px solid black;
  width: auto;
  padding: 2px;
  background-color: #d6d6d6;
}
.inquiry-show-card__skill-label {
  margin-right: 3rem;
}
.inquiry-show-card__footer {
  color: #333;
  margin-top: 3rem;
}
.inquiry-show-card__footer-text {
  text-align: center;
  margin-bottom: 3rem;
  color: black;
}
.inquiry-show-card__footer-highlight {
  border-bottom: none;
  box-shadow: inset 0 -30px 0 #D1BFF6, 0 2px 0 #D1BFF6;
  transition: box-shadow .5s, color .5s;
}
.inquiry-show-card__footer-highlight:hover {
  box-shadow: inset 0 -30px 0 #333, 0 2px 0 #333;
  border-bottom: none;
}
.inquiry-show-card__footer-link {
  text-decoration: none;
  color: #333;
  line-height: 2.5rem;
}
.inquiry-show-card__footer-link:hover {
  color: #D1BFF6;
}
@media(min-width: 450px) {
  .inquiry-show-card__footer-highlight {
    border-bottom: 4px dashed black;
    transition: box-shadow .5s, color .5s;
    box-shadow: none;
  }
  .inquiry-show-card__footer-highlight:hover {
    color: #D1BFF6;
  }
  .inquiry-show-card__change-status {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 6vh;
  }
  .inquiry-show-card__change-status-label, .inquiry-show-card__change-status-btn {
    font-size: 2rem;
  }
}
