.jobs {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.job-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #d6d6d6;
  padding: 1rem;
  border: solid 4px black;
  box-shadow: -8px -8px 0 0 black;
}
.job-card-dash {
  width: 175px;
  background-color: #868686;
  border: solid 4px black;
  margin: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.skills-list-dash {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0;
  gap: 30px 0px;
}
.skill-box-dash {
  list-style-type: none;
  margin-right: 4px;
  p {
    color: black;
    border: solid black;
    width: auto;
    padding: 2px 4px;
    background-color: #d6d6d6;
    margin: 0;
  }
}
.job-card-title {
  border-bottom: solid 4px black;
  width: 100%;
  height: 50px;
  text-align: center;
  h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.job-card-title-dash {
  border-bottom: solid 4px black;
  width: 100%;
  text-align: center;
  background-color: #606060;
  color: black;
  padding: 0.5rem;
  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
  }
}
.job-card-description {
  margin: 16px;
  height: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: break-word;
}
.job-card-details-dash {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
.job-card-body-dash {
  background-color: #b5b5b5;
  color: black;
  padding: 1rem 0;
  height: 196px;
  overflow: hidden;
}
.more-btn, #btn-form-submit {
  width: 230px;
  font-size: 2rem;
  display: block;
  border: solid;
  box-shadow: -6px -6px black;
  background: #7ECA93;
}
#btn-form-submit {
  margin: 8rem auto 32px auto;
}
.more-btn {
  margin: 6rem auto 32px auto;
}
.more-btn:hover, #btn-form-submit:hover {
  background-color: #8EC7A6;
}
.jobs-more-btn, #btn-form-submit {
  text-decoration: none;
  color: black !important;
  text-align: center;
  z-index: 1;
  position: relative;
  border: 3px solid black;
}
.jobs-more-btn-dash {
  text-decoration: none;
  color: black !important;
  text-align: center;
  font-size: 1.2rem;
  width: 130px;
  margin: 0 auto;
  box-shadow: none;
}
.jobs-index-filter-options {
  margin: 0 auto;
  margin-top: 4rem;
  width: fit-content;
  span {
    margin: 0 auto;
    font-size: 1rem;
  }
  input[type="radio"] {
    display: none;
  }
  label {
    color: #333;
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 5px solid transparent;
  }
}
.jobs-index-filter {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  align-items: baseline;
  position: relative;
  i {
    height: fit-content;
    margin-right: 1rem;
    cursor: pointer;
  }
}
.jobs-index-filter-text {
  cursor: pointer;
}
.job-index-radio-buttons-hidden {
  transition: transform 0.2s ease-out;
  position: relative;
  background-color: #9B9B9B;
}

.jobs-index-hidding-span-desactivated {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #9b9b9b;
  transition: width 0.4s ease-in;
  transition-timing-function: steps(3, end);
}
.jobs-index-hidding-span-activated {
  width: 0%;
}
.jobs-index-filter-options input[type="radio"]:checked + label {
  border-bottom: 5px solid #6f58c9;
  color: black;
  transition-delay: 150ms;
  transition-property: border-bottom;
}
@media(min-width: 850px) {
  .job-card-dash {
    width: 200px;
  }
}
@media(min-width: 950px) {
  .job-index-radio-buttons-shown {
    width: 100%;
    transform: translateX(-75px);
  }
  .job-index-radio-buttons-hidden {
    padding-left: 2rem;
  }
  .jobs-index-filter-options {
    display: flex;
    align-items: baseline;
    span {
      margin: 0 1rem;
      font-size: 2rem;
    }
  }
  .jobs-index-filter {
    font-size: 2rem;
  }
}
@media(min-width: 1050px) {
  .jobs {
    max-width: 60%;
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width: 1400px) {
  .jobs {
    max-width: 75%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
