.job-show {
  background-color: #d6d6d6;
  margin: 0 auto;
  margin-top: 5rem;
}
.job-show-title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.job-show-description {
  border-top: 8px dashed black;
  border-bottom: 8px dashed black;
  padding: 2rem 0;
}
.job-show-details {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.job-show-details-payment, .job-show-details-location, .job-show-details-date {
  display: flex;
  justify-content: start;
  align-items: baseline;
  margin-bottom: 2vh;
}
.job-show-skills {
  padding: 2rem 0;
}
.job-show-footer {
  color: #333
}
.job-show-footer span {
  border-bottom: none;
  box-shadow: inset 0 -30px 0 #D1BFF6, 0 2px 0 #D1BFF6;
  transition: box-shadow .5s, color .5s;
  a {
    text-decoration: none;
    color: #333;
    line-height: 2.5rem;
  }
}
.job-show-footer span:hover {
  box-shadow: inset 0 -30px 0 #333, 0 2px 0 #333;
  border-bottom: none;
  a {
    color: #D1BFF6;
  }
}
@media(min-width: 450px) {
  .job-show-details {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .job-show-footer span {
      border-bottom: 4px dashed black;
      transition: box-shadow .5s, color .5s;
      box-shadow: none;
      a {
        line-height: 1rem;
        color: #333;
      }
    }
  .job-show-footer span:hover {
    box-shadow: inset 0 -30px 0 #333, 0 2px 0 #333;
    border-bottom: none;
    a {
      color: #D1BFF6;
    }
  }
}
