.top-block-project {
  height: auto;
  overflow: hidden;
}
.side-text {
  width: 100%;
  padding: 32px;
  border-top: dashed 4px black;
  border-bottom: dashed 4px black;
  background: #D1BFF6;
}
.side-text-title {
  min-height: 80px;
}
.project-title {
  display: inline;
  font-size: 1.75rem;
  line-height: 2.5rem;
}
.project-title-owner {
  font-size: 1rem;
  display: inline;
  margin-left: 0.25rem;
}
.project-user {
  color: #d6d6d6;
  text-decoration: none;
  box-shadow: inset 0 -30px 0 #333, 0 2px 0 #333;
  transition: box-shadow .5s, color .5s;
  padding-left: 4px;
  padding-right: 4px;
}
.project-user:hover {
  color: #D1BFF6;
  box-shadow: inset 0 -30px 0 black, 0 2px 0 black;
}
.project-date, .project-location, .project-category {
  display: flex;
  align-items: center;
  i {
    font-size: 1.5rem;
    color: #d6d6d6;
    margin-right: 1rem;
    width: 25px;
  }
}
.project-date, .project-location {
  margin-bottom: 1rem;
}
.description-bottom {
  background-color: #333;
  border-top: dashed 4px black;
  height: 100%;
}
.description-left-side {
  color: #d6d6d6;
  padding: 32px;
  p {
    margin-top: 1rem;
  }
}
.description-left-side-title {
  font-size: 2.25rem;
}
.description-right-side {
  padding: 32px;
  padding-top: 64px;
}
.skill-box-project {
  // box-shadow: -6px -6px black;
  // border: solid;
  width: auto;
  padding: 2px;
  font-size: 1rem;
  color: #333;
  margin-right: 0.5rem;
  transition: all .5s;
  cursor: pointer;
}
.skill-box-project:nth-child(odd) {
  background-color: #D1BFF6;
}
.skill-box-project:nth-child(odd):hover {
  color: #D1BFF6;
}
.skill-box-project:nth-child(even) {
  background-color: #7ECA93;
}
.skill-box-project:nth-child(even):hover {
  color: #7ECA93;
}
.skill-box-project:hover {
  background-color: black;
}
.project-side-details {
  font-size: 1.2rem;
  margin-bottom: 0;
}
.description-right-details {
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #d6d6d6;
}
.members-block {
  // margin-top: 2rem;
  // margin-bottom: 2rem;

  display: flex;
  position: relative;
  margin-top: 3rem;
}
.members-block-placeholder {
  height: 53px;
  margin-top: 3rem;
}
.members-block-avatars {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  padding-left: 1rem;
  position: absolute;
}
.new-member-button-form {
  position: relative;
  margin: 2.5rem 0;
}
.new-member-form {
  margin-top: 2.5rem;
  position: absolute;
  top: -11px;
  left: 0;
  display: none;
  width: 100%;
  background-color: #3D00BE;
  box-shadow: -6px -6px black;
  border: solid 4px black;
  // height: 56px;
  color: white;
  .btn-add-member {
    font-size: 2rem;
    color: black;
    border-color: #3D00BE;
    background-color: #3D00BE;
    border-radius: 0px;
    outline: 2px solid black;
    height: 50px;
    line-height: 0px;
    color: white;
  }
  .btn-add-member:hover {
    color: white;
    background-color: #333;
    border-color: black;
  }
}
.new-member-form-show {
  display: block;
  position: static;
}
.new-member-form-btn {
  display: flex;
  align-items: center;
  height: 60px;
}
.new-member-field {
  border-right: 3px solid black;
  width: 100%;
  label {
    padding: 4px;
    outline: 2px solid black;
    width: 100%;
    height: 50%;
  }
  .input-member-project-new {
    padding: 0;
    border: 0px !important;
    border-bottom: 2px solid white !important;
    border-radius: 0px;
    height: 50%;
    padding-left: 4px;
  }
}
.new-member-field-plus {
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: #3D00BE;
  display: inline-block;
  width: 33%;
  color: white;
}
.new-member-field-plus:hover {
  background-color: #5A26C9;
}
.modal-owner-project-owner {
  font-size: 1.5rem;
  z-index: 1;
  position: relative;
  color: black;
  width: fit-content;
}
.modal-members {
  font-size: 1.5rem;
  z-index: 1;
  position: relative;
}
.modal-members-title {
  .underlined-title {
    height: 10px;
    top: -12px;
    right: -7px;
    background-color: #afafaf;
    position: relative;
    z-index: 0;
    width: 125px;
  }
}
.modal-owner-subdetails {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  flex-grow: 1;
  margin-left: 2rem;
  .member-modal-username {
    margin-left: 1rem;
  }
}
.modal-owner-line {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #D1BFF6;
  padding: 1rem;
  padding-top: 0.5rem;
  // background-color: #858585;
  // border-bottom: 2px solid black;
  .underlined-title {
    height: 10px;
    top: -12px;
    right: -7px;
    background-color: #afafaf;
    position: relative;
    z-index: 0;
    width: 96px;
  }
}
.modal-member-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 1rem;
}

.modal-member-line ~ .modal-member-line {
  border-top: 3px dashed black;
}
.modal-job-link {
  text-decoration: none;
  color: black;
}
.modal-job-link:hover {
  color: black;
}
.modal-job-record {
  margin-top: 4px;
  border: 2px solid black;
  height: fit-content;
}
.modal-job-record:hover {
  box-shadow: black -1px -1px, black -2px -2px, black -3px -3px;
  transform: translate3d(3px, 3px, 0);
  transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
  transition-timing-function: line;
}
.modal-job-records a:nth-child(odd) .modal-job-record {
  background-color: #a5a5a5;
}
.modal-job-records a:nth-child(even) .modal-job-record {
  background-color: #858585;
}
.modal-job-arrow-wrapper {
  height: 100%;
  background-color: #7ECA93;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  i {
    font-size: 1.5rem;
  }
}
.modal-job-manicule {
  font-size: 3rem;
  line-height: 0;
  margin: 0 auto;
  width: fit-content;
  padding-bottom: 28px;
  color: black;
}
.modal-job-right-wrapper {
  height: 100%;
}
.modal-job-title {
  margin-left: 4px;
  margin-bottom: 5px;
}
.modal-job-days {
  margin-left: 8px;
  margin-bottom: 4px;
}
.diamond-frame-member-modal {
  display: block;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  overflow: hidden;
  border: 2px solid black;
  box-shadow: -4px 4px 0 0 black;
  background-color: #333;
  cursor: pointer;
  position: sticky;
}
.member-modal-delete-symbol {
  color: #a34646;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
}
.member-modal-delete-symbol:hover {
  color: #a34646;
}
.member-modal-username {
  font-size: 1.2rem;
  margin-right: auto;
  margin-left: 2rem;
  text-decoration: none;
  color: black;
  word-break: break-word;
}
.member-modal-username:hover {
  color: #333;
}
.members-modal {
  border: 4px solid black;
  border-radius: 0px;
  background-color: #d6d6d6;
  .modal-body {
    padding-top: 0.5rem;
  }
}
.members-modal-header {
  border-bottom: 2px solid black;
  background-color: #858585;

}
@media(min-width: 450px) {
  .project-title {
    font-size: 2.25rem;
  }
  .project-title-owner {
    font-size: 1.5rem;
  }
  .modal-members {
    font-size: 2rem;
  }
  .modal-owner-line {
    .underlined-title {
      height: 18px;
      top: -18px;
      right: -7px;
      width: 100%;
    }
  }
  .madal-member-line {
    padding: 1rem 2rem;
  }
  .modal-owner-title {
    width: fit-content;
  }
  .modal-members-title {
    .underlined-title {
      height: 18px;
      top: -18px;
      right: -7px;
      width: 100%;
    }
  }
  .modal-members-title-wrapper {
    width: fit-content;
  }
  .modal-owner-project-owner {
    font-size: 2rem;
    width: fit-content;
  }
  .member-modal-username {
    font-size: 1.5rem;
  }
  .diamond-frame-member-modal {
    margin: 0 20px;
  }
  .members-block-avatars {
    position: absolute;
  }
  .new-member-form {
    margin-top: 1rem;
  }
  .new-member-form-btn {
    height: 60px;
    label {
      padding: 0;
      padding-left: 4px;
    }
  }
  .new-member-field {
    height: 60px;
    label {
      height: 30px;
    }
    .input-member-project-new {
      height: 30px;
      border-bottom: 2px solid white !important;
    }
  }
  .new-member-field-plus {
    height: 60px;
    padding: 0;
  }
  .modal-job-record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
  }
  .modal-job-manicule {
    width: fit-content;
    margin: 0;
    padding-bottom: 22px;
  }
  .modal-job-right-wrapper {
    display: flex;
    align-items: center;
  }
  .modal-job-arrow-wrapper {
    width: 50px;
    margin-left: 1rem;
    border-top: none;
  }
  .modal-job-title {
    margin-left: 1rem;
  }
  .modal-job-days {
    margin-left: 4px;
  }
}
@media(min-width: 992px) {
  .members-block {
    // display: flex;
    // position: relative;
    margin: 0;
  }
  .members-block-placeholder {
    height: 80px;
  }
  .members-block-avatars {
    gap: 10px 0;
  }
  .new-member-button-form {
    margin: 0;
    margin-top: 2rem;
  }
  .modal-owner-subdetails {
    margin-right: 3rem;
    flex-grow: 1;
    margin-left: 2rem;
  }
  .top-block-project {
    display: flex;
    height: 75vh;
    min-height: 574px;
    background: linear-gradient(to right, #858585 0%, #858585 70%, #D1BFF6 70%, #D1BFF6 100%);
    border-bottom: dashed 4px black;
  }
  .project-title {
    line-height: none;
  }
  .side-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    border-left: dashed 4px black;
    border-top: none;
    border-bottom: none;
    padding-top: 64px;
    padding-right: 3em;
    padding-left: 3em;
    height: 100%;
  }
  .side-text-title {
    flex-grow: 1;
  }
  .side-text-members {
    margin-bottom: 3rem;
  }
  .wrapper-btn-talents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .description-left-side, .description-right-side {
    padding: 2em 3em;
  }
  .description-bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
  }
  .description-left-side {
    width: 70%;
    p {
      margin-top: 0rem;
    }
  }
  .description-right-side {
    width: 30%;
    padding-top: 32px;
  }
  .project-side-details {
    font-size: 1.5rem;
  }
}

body {
  background-color: #333;
}
* {
  box-sizing: border-box;
}
