.top-block-project {
  height: auto;
  overflow: hidden;
}
.side-text {
  width: 100%;
  height: auto;
  padding: 32px;
  border-top: dashed 4px black;
  border-bottom: dashed 4px black;
  background: #D1BFF6;
}
.description-bottom {
  color: #d6d6d6;
  padding: 32px;
  background-color: #333;
  border-top: dashed 4px black;
  height: 100%;
  flex-grow: 1;
}
.members-block {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.members-block-avatars {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  padding-left: 1rem;
}
.new-member-button-form {
  position: relative;
  margin-top: 2.5rem;
}
.new-member-form {
  margin-top: 2.5rem;
  position: absolute;
  top: -11px;
  left: 0;
  display: none;
  width: 100%;
  background-color: #3D00BE;
  box-shadow: -6px -6px black;
  border: solid 3px black;
  height: 56px;
  color: white;
  .btn-add-member {
    font-size: 2rem;
    color: black;
    border-color: #3D00BE;
    background-color: #3D00BE;
    border-radius: 0px;
    outline: 2px solid black;
    height: 50px;
    line-height: 0px;
    color: white;
  }
  .btn-add-member:hover {
    color: white;
    background-color: #333;
    border-color: black;
  }
}
.new-member-form-show {
  display: block;
  position: static;
}
.new-member-field {
  width: 100%;
  label {
      padding-left: 4px;
      outline: 2px solid black;
      width: 100%;
  }
  .input-member-project-new {
    border: 0px !important;
    border-bottom: 2px solid white !important;
    border-radius: 0px;
    height: 26px;
  }
}
.modal-member-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 3px dashed black;
  padding-top: 5px;
}
.modal-member-line:first-child {
  border-top: 0px;
}
.modal-job-link {
  text-decoration: none;
  color: black;
}
.modal-job-link:hover {
  color: black;
}
.modal-job-record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  border: 2px solid black;
  height: 45px;
}
.modal-job-record:hover {
  box-shadow: black -1px -1px, black -2px -2px, black -3px -3px;
  transform: translate3d(3px, 3px, 0);
  transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
  transition-timing-function: line;
}
.modal-job-records a:nth-child(odd) .modal-job-record {
  background-color: #a5a5a5;
}
.modal-job-records a:nth-child(even) .modal-job-record {
  background-color: #858585;
}
.modal-job-manicule-wrapper {
  height: 100%;
  width: 50px;
  background-color: #7ECA93;
  padding-top: 10px;
  padding-left: 3px;
  margin-left: 1rem;
}
.modal-job-manicule {
  font-size: 3rem;
  line-height: 0;
  margin: 0;
  padding-bottom: 22px;
  color: black;
}
.modal-job-right-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}
.modal-job-title {
  margin-left: 1rem;
  margin-bottom: 5px;
}
.diamond-frame-member-modal {
  display: block;
  margin: 0 20px;
  width: 35px;
  transform: rotate(45deg);
  overflow: hidden;
  border: 2px solid black;
  box-shadow: -4px 4px 0 0 black;
  background-color: #333;
  cursor: pointer;
}
.member-modal-delete-symbol {
  color: #a34646;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
}
.member-modal-delete-symbol:hover {
  color: #a34646;
}
.member-modal-username {
  margin-left: 0;
  margin-right: auto;
  text-decoration: none;
  color: black;
}
.member-modal-username:hover {
  color: #333;
}
.members-modal {
  border: 4px solid black;
  border-radius: 0px;
  background-color: #d6d6d6;
}
.members-modal-header {
  border-bottom: 2px solid black;
  background-color: #858585;
}
@media(min-width: 992px) {
  .top-block-project {
    display: flex;
    height: 75vh;
    min-height: 550px;
    background: linear-gradient(to right, #858585 0%, #858585 70%, #D1BFF6 70%, #D1BFF6 100%);
    border-bottom: dashed 4px black;
  }
  .side-text {
    width: 30%;
    border-left: dashed 4px black;
    border-top: none;
    border-bottom: none;
    padding-top: 64px;
    padding-right: 3em;
    padding-left: 3em;
    height: 100%;
  }
  .wrapper-btn-talents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .description-bottom {
    padding: 2em 3em;
  }
}

body {
  background-color: #333;
}
* {
  box-sizing: border-box;
}
