.user-details-section {
  width: 100%;
  height: auto;
  padding-top: 8rem;
  background: #646668;
  border-bottom: dashed 4px black;
}
.user-details-section__username-avatar-wrapper {
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  left: 14px;
}
.user-details-section__username {
  margin: 0 auto;
  margin-bottom: 4px;
  width: 150px;
  text-align: center;
  word-break: break-all;
  font-size: 1.5rem;
}
.user-details-section__frame {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 4px solid black;
  box-shadow: -6px 6px 0 0 black;
}
.user-details-section__avatar {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: #333;
}
@media(min-width: 992px) {
  .user-details-section {
    height: 92vh;
    padding-top: 0rem;
    border-right: dashed 4px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .user-details-section__username-avatar-wrapper {
    margin-top: 3rem;
  }
  .user-details-section__username {
    font-size: 2rem;
    width: 300px;
  }
  .user-details-section__frame {

  }
}
