<h1>DESTROY THIS PAGE??</h1>
<% if @upcoming_projects.empty? %>
  <!-- <h4 class="profile-modal-no-result">no upcoming project</h4> -->
<% else %>
  <% @upcoming_projects.each do |project| %>
    <!-- <div class="card-project-user-profile">
      <%= link_to project_path(project.slug) do  %>
        <div class="d-flex">
          <div class="card-img-wrapper-user-profile">
            <%= cl_image_tag project.attachments.first.key, class: "card-img" %>
          </div>
          <div class="ribbon-wrapper-user-profile">
            <div class="ribbon-user-profile">UPCOMING</div>
          </div>
          <div class="w-100">
            <h4 class="title-card-project-user-profile"><%= project.title %></h4>
            <div class="text-card-project-user-profile"><%= project.description %></div>
          </div>
        </div>
      <% end %>
    </div> -->
  <% end %>
<% end %>
