<div class="confirmation-page">
  <div class="confirmation-page__container">
    <img src='<%= asset_path('confirmation-peep.png') %>' width="100" alt="error-page" class="confirmation-page__peep">
    <div class="confirmation-page__underlined-title">
      <h1 class="confirmation-page__title">Confirmation pending</h1>
      <div class="confirmation-page__underline"></div>
    </div>
    <p class="confirmation-page__text">You are just one step away! Check your email inbox to confirm your account</p>
    <div class="confirmation-page__homepage-link">
      <div class="confirmation-page__link-arrow">&#10132;</div>
      <%= link_to root_path, class: "link" do %>
        <h5>Back to homepage</h5>
      <% end %>
    </div>
  </div>
</div>
