<%= render 'shared/navbar' %>
<div class="search-bar bck-btn-reload-js">
  <%= simple_form_for :search, url: users_path, html: { class: "search-bar__form search-form-js" }, remote: true, method: :get do |f| %>
    <div class="search-bar__input-wrapper">
      <input type="text" name="query" placeholder="Search through users..." class="search-bar__input refresh-input-js user-input-highlight-js" autocomplete="off">
      <button class="search-bar__btn" type="submit">
        <i class="search-bar__icon fas fa-search"></i>
      </button>
    </div>
  <% end %>
</div>
<%= render "index_user", users: @users, query: params[:query] %>
