<h1>DESTROY THIS PAGE??</h1>
<%= render 'shared/hamburger' %>
<%= render 'shared/brand' %>
<!-- <div class="background-search">
  <div class="wrapper-portfolio-title">
    <h1 class="portfolio-title">
      <%= @user.username %> ongoing projects
      <div class="underlined-title"></div>
    </h1>
  </div>
  <div class="js-results mt-5 masonry-js portfolio-style-js">
    <%= render "user_ongoing_own_projects" %>
  </div>
</div> -->


<!-- IS THIS PAGE STILL IN USE ?? -->
