<div class="footer-message">
  <div class="footer-message__wrapper">
    <div>* all credits go to the artists:</div>
    <div class="footer-message-dynamic-strings-js">
      <p>no fees</p>
      <p>no ads</p>
      <p>no middleman</p>
      <p>no bullshit</p>
    </div>
    <span class="footer-message__dynamic-text typed-js"></span>
  </div>
</div>
<div class="footer">
  <div class="footer__menus">
    <div class="footer__menu-item" data-bs-toggle="modal" data-bs-target="#modalSupportUs">
      Support us
      <div class="footer__menu-underline"></div>
    </div>
    <div class="footer__menu-item" data-bs-toggle="modal" data-bs-target="#modalFeedback">
      Feedback
      <div class="footer__menu-underline"></div>
    </div>
  </div>
  <div class="footer__maricalmer--wrapper">
    <div class="footer__maricalmer">website built by <%= link_to "maricalmer", "https://www.maricalmer.com", target: "_blank", class: "footer__maricalmer--link" %></div>
  </div>
  <div class="footer__brand">InfamousBerlin</div>
</div>
