<div class="footer-message">
  <div class="footer-message-container">
    <div class="footer-item">* all credits go to the artists:</div>
    <div class="typed-strings-js">
      <p>no fees</p>
      <p>no ads</p>
      <p>no middlemen</p>
      <p>no bullshit...</p>
    </div>
    <span class="footer-motion-items typed-js"></span>
  </div>
</div>
<div class="footer">
  <div class="footer-menus">
    <div class="footer-menu" data-bs-toggle="modal" data-bs-target="#modalSupportUs">
      Support us
      <div class="underlined-title"></div>
    </div>
    <div class="footer-menu" data-bs-toggle="modal" data-bs-target="#modalFeedback">
      Feedback
      <div class="underlined-title"></div>
    </div>
  </div>
  <div class="footer-brand">InfamousBerlin</div>
</div>
