<div class="preloader preloader--is-visible preloader-js">
  <div class="preloader__text-wrapper">
    <h1 class="preloader__text">InfamousBerlin</h1>
    <div class="preloader__text-cover preloader__text-cover--is-hidding preloader-text-cover-js"></div>
  </div>
</div>
