<h4 class="dash-slider-title-mobile">Applications</h4>
<div class="js-slider inquiry-dash-js w-100 dash-received-list">
  <% @inquiries.each do |inquiry| %>
    <div class="dash-received-record">
      <h4 class="record-date"><%= inquiry.created_at.strftime("%d/%m") %></h4>
      <h4 class="m-0">
        Application from user
        <span><%= link_to inquiry.user.username, user_path(inquiry.user.slug) %></span> to project
        <span><%= link_to inquiry.job.project.title, project_path(inquiry.job.project.slug) %></span>
      </h4>
      <%= link_to inquiry_path(inquiry), class:"dash-manicule-link" do %>
        <div class="dash-manicule">&#x261E;</div>
      <% end %>
    </div>
  <% end %>
</div>
