<%= render 'shared/hamburger' %>
<div class="form-page project-form-js">
  <div class="form-page__form-and-title">
    <h1 class="form-page__title">
      Create a new project
      <div class="form-page__underline"></div>
    </h1>
    <div class="form-page__form">
      <div class="form-page__content">
        <%= render "form" , locals: { project: @project } %>
      </div>
    </div>
  </div>
  <div class="form-page__divider-and-img">
    <div class="form-page__divider--first"></div>
    <div class="form-page__divider--second"></div>
    <div class="form-page__img form-page__img--new-project"></div>
  </div>
</div>
