<%= render 'shared/navbar' %>
<div class="search-bar-and-filters bck-btn-reload-js">
  <%= simple_form_for :search, url: upcoming_projects_path, html: { class: "search-bar-and-filters__form search-form-js"}, remote: true, method: :get do |f| %>
    <div class="search-bar-and-filters__search-bar">
      <input type="text" name="query" placeholder="Search through projects..." class="search-bar-and-filters__search-input refresh-input-js user-input-highlight-js" autocomplete="off">
      <button class="search-bar-and-filters__search-btn" type="submit">
        <i class="search-bar-and-filters__search-icon fas fa-search"></i>
      </button>
    </div>
    <div class="search-bar-and-filters__filters">
      <div class="search-bar-and-filters__filter-btn">
        <i class="fas fa-filter search-bar-and-filters__filter-icon filter-effect-js"></i>
        <div class="search-bar-and-filters__filter-text filter-effect-js">FILTER</div>
      </div>
      <div class="search-bar-and-filters__filter-options--hidden show-radio-btns-js">
        <%= f.collection_radio_buttons :status, [["upcoming", "Upcoming projects"], ["past", "Past projects"], ["all", "All"]], :first, :last, item_label_class: 'search-bar-and-filters__filter-labels checkbox-label-js', checked: "upcoming" %>
        <div class="search-bar-and-filters__cover search-bar-and-filters__cover--unfolded hide-filter-text-js"></div>
      </div>
    </div>
  <% end %>
</div>
<div class="render-results-js">
  <%= render "search-results", projects: @projects, query: params[:query] %>
</div>
