<div class="error-page">
  <div class="error-page__container">
    <img src='<%= asset_path('error-peep.png') %>' width="300" alt="error-character" class="error-page__peep">
    <div class="error-page__underlined-title">
      <h1 class="error-page__title">500</h1>
      <div class="error-page__underline"></div>
    </div>
    <p class="error-page__text">The server encountered an unexpected condition that prevented it from fulfilling the request...</p>
  </div>
</div>
