<div class="error-page">
  <div class="error-page-container">
    <img src='<%= asset_path('error-peep.png') %>' width="300" alt="error-character" class="error-page-peep">
    <div class="error-page-title">
      <h1>404</h1>
      <div class="underlined-title-error-page"></div>
    </div>
    <p>You may have mistyped the address or the page may have moved...</p>
  </div>
</div>
