.autocomplete-suggestions {
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
  box-shadow: none !important;
}

.autocomplete-suggestions--new-project {
  background-color: #eaeaea !important;
  direction: rtl !important;
  overflow: auto !important;
  height: fit-content !important;
  .autocomplete-suggestion {
    direction:ltr;
    b {
      color: #333 !important;
    }
  }
}
.autocomplete-suggestions--new-project {
  .autocomplete-suggestion.selected {
    color: black !important;
    background-color: #eaeaea !important;
    b {
      color: #858585 !important;
    }
  }
}
.autocomplete-suggestions--user-index {
  font-size: 1.5rem !important;
  letter-spacing: 1px !important;
}
.autocomplete-suggestions--project-show {
  direction: rtl !important;
  overflow: auto !important;
  height: fit-content !important;
  font-size: 1rem !important;
  letter-spacing: 1px !important;
  background-color: #e6dbfc !important;
  top: 895px !important;
  max-height: 140px !important;
  .autocomplete-suggestion {
    margin-left: 5px;
    direction:ltr;
    color: #858585 !important;
    b {
      color: black !important;
    }
  }
}
.autocomplete-suggestions--project-show {
  .autocomplete-suggestion.selected {
    color: black !important;
    background-color: #e6dbfc !important;
  }
}

.autocomplete-suggestion {
  line-height: 15px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  color: black !important;
  b {
    color: #D1BFF6 !important;
  }
}

@media(min-width: 992px) {
  .autocomplete-suggestions--project-show {
    top: 511px !important;
    max-height: 150px !important;
  }
}
