.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.diamond-frame {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 75%;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden;
  border: 4px solid black;
  box-shadow: -8px 8px 0 0 black;
}
.diamond-frame img {
  max-width: 100%;
  transform: rotate(-45deg) scale(1.42);
}
@media(min-width: 576px) {
  .diamond-frame {
    width: 350px;
  }
}
