.avatar-user-card {
  transform: rotate(45deg);
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 0 auto;
}
.avatar-user-card__frame--small {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 3px solid black;
  background-color: #333;
}
.avatar-user-card__img--small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg) scale(1.4);
  transition: transform 1.2s;
}
.avatar-diamond--big {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: #333;
}
.avatar-diamond--big__frame {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 4px solid black;
  box-shadow: -6px 6px 0 0 black;
}
.avatar-diamond--big__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg) scale(1.42);
}
.form-page__avatar-wrapper {
  transform: rotate(45deg);
  transform-origin: top left;
  position: relative;
  top: 30px;
  margin-right: auto;
  margin-left: 6rem;
  width: fit-content;
}
.form-page__avatar-hidden {
  display: none;
}
.form-page__avatar-frame {
  display: block;
  width: 125px;
  height: 125px;
  overflow: hidden;
  border: 3px solid black;
  box-shadow: -6px 6px 0 0 black;
  background-color: #333;
}
.form-page__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg) scale(1.4);
}
.avatars-member-stack {
  display: block;
  width: 35px;
  height: 35px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden;
  border: 2px solid black;
  box-shadow: -4px 4px 0 0 black;
  background-color: #333;
  cursor: pointer;
  margin-left: 4rem;
}
.avatars-member-stack ~ .avatars-member-stack {
  margin-left: -10px;
}
.avatars-member-stack__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg) scale(1.4);
}
.avatars-member-stack__extra-icon {
  transform: rotate(-45deg) scale(1.4);
  margin-bottom: 0px;
  text-align: center;
  color: #d6d6d6;
  line-height: 0px;
  margin-right: 12px;
  margin-top: 10px;
}
.member-modal-avatar__frame {
  display: block;
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  overflow: hidden;
  border: 2px solid black;
  box-shadow: -4px 4px 0 0 black;
  background-color: #333;
  cursor: pointer;
  position: sticky;
}
.member-modal-avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg) scale(1.4);
}
.avatar-inquiry {
  transform: rotate(45deg);
  position: relative;
  width: 162px;
  height: 162px;
  margin: 0 auto;
}
.avatar-inquiry__frame {
  filter: grayscale(1);
  position: relative;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-bottom: 32px;
  overflow: hidden;
  border: 3px solid black;
  box-shadow: -6px 6px 0 0 black;
  background-color: #333;
}
.avatar-inquiry__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transform: rotate(-45deg) scale(1.42);
}
.avatar-inquiry__link {
  text-decoration: none;
}
@media(min-width: 450px) {
  .member-modal-avatar__frame {
    width: 50px;
    height: 50px;
    margin: 0 20px;
  }
}
@media(min-width: 470px) {
  .avatars-member-stack {
    margin-left: 5rem;
  }
  .avatars-member-stack ~ .avatars-member-stack {
    margin-left: 0px;
  }
}
@media(min-width: 576px) {
  .avatar-user-card__frame--small {
    margin-bottom: 32px;
  }
  .avatar-user-card__frame--small:hover {
    filter: brightness(110%);
  }
  .avatar-user-card__frame--small:hover .avatar-user-card__img--small {
    transform: rotate(-45deg) scale(1.5);
    transition: transform 1.2s;
  }
}
@media(min-width: 650px) {
  .avatar-user-card {
    margin: 0;
  }
}
@media(min-width: 992px) {
  .avatar-diamond--big__frame {
    width: 350px;
    height: 350px;
  }
  .form-page__avatar-wrapper {
    position: absolute;
    right: -62px;
    top: -20px;
  }
  .avatars-member-stack {
    margin-top: 0px;
  }
}
