.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.diamond-wrapper {
  transform: rotate(45deg);
  position: relative;
  width: 192px;
  height: 192px;
  margin: 0 auto;
}
.index-diamond-wrapper {
  transform: rotate(45deg);
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 0 auto;
}
.diamond-wrapper-form {
  transform: rotate(45deg);
  transform-origin: top left;
  position: relative;
  right: -100px;
  top: 30px;
}
.diamond-wrapper-form-hidden {
  display: none;
}
.card-user-search-username {
  margin: 0 auto;
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  text-align: center;
}
.diamond-frame {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 150px;
  height: 150px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden;
  border: 4px solid black;
  box-shadow: -8px 8px 0 0 black;
  background-color: #333;
}
.diamond-frame-chat {
  display: none;
  width: 50px;
  height: 50px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden;
  border: 2px solid black;
  box-shadow: -4px 4px 0 0 black;
  background-color: #333;
  cursor: pointer;
}
.diamond-frame-member {
  display: block;
  width: 35px;
  height: 35px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden;
  border: 2px solid black;
  box-shadow: -4px 4px 0 0 black;
  background-color: #333;
  cursor: pointer;
  margin-left: 4rem;
}
.diamond-frame-member ~ .diamond-frame-member {
  margin-left: -10px;
}
.diamond-frame-medium {
  width: 150px !important;
  height: 150px !important;
  box-shadow: none;
  margin: 0 auto;
}
.diamond-frame-small {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-bottom: 32px;
  overflow: hidden;
  border: 3px solid black;
  box-shadow: -6px 6px 0 0 black;
  background-color: #333;
}
.index-diamond-frame-small {
  position: relative;
  display: block;
  // margin: 0 auto;
  width: 100px;
  height: 100px;
  // margin-bottom: 32px;
  overflow: hidden;
  border: 3px solid black;
  background-color: #333;
}
.diamond-frame-form {
  display: block;
  width: 125px;
  height: 125px;
  overflow: hidden;
  border: 3px solid black;
  box-shadow: -6px 6px 0 0 black;
  background-color: #333;
}
.diamond-frame-form img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg) scale(1.4);
}
.diamond-frame img, .diamond-frame-member img, .diamond-frame-member-modal img, .diamond-frame-chat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg) scale(1.4);
}
.diamond-frame-member p {
  transform: rotate(-45deg) scale(1.4);
  margin-bottom: 0px;
  text-align: center;
  color: #d6d6d6;
  line-height: 0px;
  margin-right: 12px;
  margin-top: 10px;
}
.diamond-frame-small img, .index-diamond-frame-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg) scale(1.4);
  transition: transform 1.2s;
}
.img-avatar-wrapper {
  position: relative;
}
.avatar-card {
  display: block;
  overflow: hidden;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 4px solid black;
  position: absolute;
  bottom: -27px;
  left: 130px;
  width: 50px;
  height: 50px;
  background-color: #333;
  img {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(-45deg) scale(1.4);
    transition: transform 1.2s;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.avatar-job {
  display: block;
  overflow: hidden;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 4px solid black;
  width: 50px;
  img {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(-45deg) scale(1.4);
    transition: transform 1.2s;
  }
}
@media(min-width: 470px) {
  .diamond-frame-member {
    margin-left: 5rem;
  }
  // .diamond-frame-member {
  //   margin-top: 11px;
  // }
  .diamond-frame-chat {
    display: block;
  }
  .diamond-frame-member ~ .diamond-frame-member {
    margin-left: 0px;
  }
}
@media(min-width: 576px) {
  .diamond-frame {
    width: 350px;
    height: 350px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .diamond-frame-small {
    margin-bottom: 32px;
  }
  .diamond-frame-small:hover, .index-diamond-frame-small:hover {
    filter: brightness(110%);
    img {
      transform: rotate(-45deg) scale(1.5);
      transition: transform 1.2s;
    }
  }
}
@media(min-width: 650px) {
  .index-diamond-wrapper {
    margin: 0;
  }
}
@media(min-width: 992px) {
  .diamond-wrapper-form {
    position: absolute;
    right: -62px;
    top: -20px;
  }
  .diamond-frame-member {
    margin-top: 0px;
  }
  .members-block-avatars {
    gap: 10px 0;
  }
}
