.link-general-brand {
  color: black;
  text-decoration: none;
}
.link-general-brand:hover {
  color: black;
}
.general-brand {
  --b:2px;
  --s:8px;
  position: fixed;
  top: 18px;
  left: 30px;
  padding: 10px;
  letter-spacing: 1px;
  margin: 0;
  background:
    linear-gradient(currentColor 0 0) var(--x,calc(var(--s)/2)) var(--x,calc(var(--s)/2)) /var(--d,0) var(--b),
    linear-gradient(currentColor 0 0) var(--x,calc(var(--s)/2)) var(--x,calc(var(--s)/2)) /var(--b) var(--d,0),
    linear-gradient(currentColor 0 0) bottom var(--x,calc(var(--s)/2)) right var(--x,calc(var(--s)/2))/var(--d,0) var(--b),
    linear-gradient(currentColor 0 0) bottom var(--x,calc(var(--s)/2)) right var(--x,calc(var(--s)/2))/var(--b) var(--d,0),


    linear-gradient(currentColor 0 0) var(--y,calc(var(--s)/2)) var(--y,calc(var(--s)/2))/var(--d,0) var(--b),
    linear-gradient(currentColor 0 0) var(--y,calc(var(--s)/2)) var(--y,calc(var(--s)/2))/var(--b) var(--d,0),
    linear-gradient(currentColor 0 0) bottom var(--y,calc(var(--s)/2)) right var(--y,calc(var(--s)/2))/var(--d,0) var(--b),
    linear-gradient(currentColor 0 0) bottom var(--y,calc(var(--s)/2)) right var(--y,calc(var(--s)/2))/var(--b) var(--d,0);
  ;
  background-repeat: no-repeat;
  transition: 0.3s,background-size 0.5s 0.3s;
  display: inline-block;
  cursor: pointer;
}
.general-brand:hover {
  --d:calc(100% - var(--s));
  --x:0;
  --y:var(--s);
  transition: 0.5s,background-position 0.3s 0.5s;
}
.brand-wrapper-hidden {
  position: fixed;
  top: 10px;
  left: -220px;
  height: 60px;
  width: 198px;
  background-color: #d6d6d6;
  border: 3px solid black;
  z-index: 1;
  transition: all 0.3s ease-out;
}
.brand-wrapper-visible {
  left: -4px;
}




.nav-brand-container {
  overflow: hidden;
  display: inline-block;
  height: 29px;
}
.nav-brand-container:hover .nav-brand-text {
  color: #858585;
  transform: translateY(-100%);
  transition: transform 0.6s;
}
.nav-brand-text {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
}
.nav-brand-text::before {
  position: absolute;
  top: 100%;
  content: "InfamousBerlin";
  transform: translate3d(0,0,0);
  color: #858585;
}
.nav-brand-solo-text {
  color: #494949;
}
.nav-brand-solo-container {
  position: fixed;
  top: -37px;
  right: 5px;
  transform: translateY(81px) translateX(-39px) rotate(-90deg);
  transform-origin: top right;

  z-index: 1;
}

@media(min-width: 992px) {
  .nav-brand-solo-container {
    position: fixed;
    top: -37px;
    right: 5px;
    transform: translateY(81px) translateX(-39px) rotate(-90deg);
    transform-origin: top right;
  }
}
