.btn-flat {
  color: white;
  border-radius: 0px;
  background: #4600DA;
  transition: background 0.3s ease;
}

.btn-apply {
  font-size: 2rem;
  margin: 3rem 0 32px 0.5rem;
  display: block;
  border: solid;
  box-shadow: -6px -6px black;
  background: #7ECA93;
  width: 100%;
}

.btn-flat:hover {
  background: #3D00BE;
}
.btn-message {
  font-size: 2rem;
  margin: 3rem 0 32px 0.5rem;
  display: block;
  border: solid black;
  box-shadow: -6px -6px black;
  background: #3D00BE;
  width: 100%;
  color: white;
  border-radius: 0px;
}
.btn-projects {
  font-size: 2rem;
  margin: 3rem 0 32px 0.5rem;
  display: block;
  border: solid black;
  box-shadow: -6px -6px black;
  background: #333;
  width: 100%;
  color: white;
}

@media(min-width: 992px) {
  .btn-flat {
    padding: 8px 24px;
    margin-left: $spacer;
    margin-right: 0;
  }
  .btn-apply {
    width: auto;
  }
  .btn-message {
    width: auto;
  }
}
