.btn-add-skill {
  border: 2px solid black;
  margin-left: 0.2vw;
  padding: 0.375rem 0.75rem;
  background-color: #333;
  color: #d6d6d6;
  cursor: pointer;
}
.btn-delete-skill {
  margin-left: 0.3vw;
  padding-top: 1px;
  cursor: pointer;
}
.btn-delete-skill:hover {
  color: #a34646;
}
.btn-apply {
  font-size: 2rem;
  margin: 3rem auto 32px auto;
  display: block;
  border: solid;
  box-shadow: -6px -6px black;
  background: #7ECA93;
  width: 150px;
}
.btn-apply:hover {
  background-color: #8EC7A6;
}
.btn-talents {
  font-size: 2rem;
  margin: 0 auto;
  // margin-top: 5rem;
  display: block;
  border: 4px solid black;
  box-shadow: -6px -6px black;
  background: #7ECA93;
  width: 100%;
  height: 68px;
}
.description-btns-project {
  text-decoration: none;
  color: white;
}
.description-btns-project:hover {
  color: white;
}
.btn-talents:hover {
  background-color: #8EC7A6;
}
.btn-talents:active {
  background-color: #8EC7A6;
  background-size: 100%;
  transition: all 0s;
}
.btn-message, .btn-message:focus {
  font-size: 2rem;
  display: block;
  border: 4px solid black;
  box-shadow: -6px -6px black;
  background: #3D00BE;
  background-position: center;
  transition: background 0.8s;
  color: white;
  border-radius: 0px;
  width: 100%;
  margin: 3vh auto 2vh auto;
}
.btn-message:hover {
  background: #5A26C9 radial-gradient(circle, transparent 1%, #5A26C9 1%) center/15000%;
}
.btn-message:active {
  background-color: #7D53D6;
  background-size: 100%;
  transition: background 0s;
}
.btn-projects, .btn-projects:focus {
  font-size: 2rem;
  display: block;
  border: 4px solid black;
  box-shadow: -6px -6px black;
  background: #333;
  background-position: center;
  transition: background 0.8s;
  width: 100%;
  color: white;
  border-radius: 0px;
  margin: 3vh auto 2vh auto;
}
.btn-covering {
  font-size: 2rem;
  width: auto;
  border: 4px solid black;
  box-shadow: -6px -6px black;
  background-color: #3D00BE;
  display: inline-block;
  width: 100%;
  color: white;
  height: 68px;
  border-radius: 0;
}
.btn-covering:hover {
  background-color: #5A26C9;
}
.btn-covering-hide {
  display: none;
}
.btn-projects:hover {
  background: #524E59 radial-gradient(circle, transparent 1%, #524E59 1%) center/15000%;
}
.btn-projects:active {
  background-color: #6B6478;
  background-size: 100%;
  transition: background 0s;
}
.btn-accept {
  font-size: 2rem;
  margin: 3rem 0 32px 0.5rem;
  border: solid;
  box-shadow: -6px -6px black;
  background: #7ECA93;
  width: 150px;
}
.btn-accept:hover {
  background-color: #8EC7A6;
}
.btn-reject {
  font-size: 2rem;
  margin: 3rem 0 32px 0.5rem;
  border: solid;
  box-shadow: -6px -6px black;
  background: #a34646;
  width: 150px;
}
.btn-reject:hover {
  background-color: #A75454;
}
.btn-update-accept {
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  border: solid;
  background: #333;
  color: #d6d6d6;
  width: 75px;
  border-radius: 0;
  padding: 0.6rem;
  margin: 2rem auto;
}
.btn-update-accept:hover {
  background: #8EC7A6;
}
.btn-update-reject {
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  border: solid;
  color: #d6d6d6;
  background: #333;
  width: 75px;
  border-radius: 0;
  padding: 0.6rem;
  margin: 1rem auto;
}
.btn-update-reject:hover {
  background: #a34646;
}
.btn-update-accept:active {
  color: #333;
  background: #8EC7A6;
  background-size: 100%;
  transition: all 0s;
}
.btn-update-reject:active {
  color: #333;
  background: #a34646;
  background-size: 100%;
  transition: all 0s;
}
.btn-download {
  font-size: calc(1.275rem + 0.3vw);
  border-radius: 0;
  background: #333;
  color: #d6d6d6;
  width: fit-content;
  display: flex;
  margin-bottom: 2rem;
  h4 {
    margin: 0;
  }
}
.btn-download:hover {
  background-color: #424242;
}
.btn-download:hover {
  color: #d6d6d6;
}
.download-arrow {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  line-height: 0.7;
  margin-right: 6px;
}
.btn-hidden {
  display: none !important;
}
.submit-msg-chat-btn {
  font-size: 1.5rem;
  line-height: 1;
  border: solid;
  background: #7ECA93;
  width: 60px;
  border-radius: 0;
  padding: 6px 0.2rem;
  margin: 0 0 0 0.5rem;
  color: black;
}
.submit-msg-btn:hover {
  background-color: #8EC7A6;
}
.submit-msg-modal-btn {
  font-size: 1.5rem;
  line-height: 1;
  border: solid;
  background: #7ECA93;
  width: 60px;
  border-radius: 0;
  padding: 6px 0.2rem;
  color: black;
  margin: 1rem 0;
  width: 100%;
}
.submit-msg-modal-btn:hover {
  background-color: #8EC7A6;
}
@media(min-width: 450px) {
  .btn-apply {
    width: 250px;
  }
  .btn-update-accept {
    margin: 0 0 0 2rem;
    color: #d6d6d6;
    background: #333;
    width: 100px;
  }
  .btn-update-reject {
    margin: 0 0 0 1rem;
    color: #d6d6d6;
    background: #333;
    width: 100px;
  }
  .btn-covering {
    padding: 0;
  }
  .btn-talents {
    font-size: 2rem;
    margin: 0 auto;
    height: 68px;
    padding: 0;
    margin-left: 2rem;
  }
  .btn-projects {
    font-size: 2rem;
    height: 68px;
    padding: 0;
  }
  .btn-projects:focus {
    font-size: 2rem;
  }
}
@media(min-width: 470px) {
  .submit-msg-chat-btn {
    margin: 0 0 0 1rem;
  }
}
