.carousel {
  width: 100%;
  min-height: 570px;
  border-bottom: dashed 4px black;
  background: #646669;
  padding-top: 100px;
  padding-bottom: 25px;
  position: relative;
}
.carousel__thumbnails {
  display: flex;
  width: 100%;
  height: 400px;
  padding: 16px;
  justify-content: center;
  align-items: center;
}
.carousel__thumbnail--video {
  display: none;
}
.carousel__mobile-placeholder {
  display: flex;
  justify-content: center;
  opacity: 1;
  margin: auto;
  transition:all 0.3s ease;
  border: 4px solid black;
  box-shadow: -6px 6px black;
  cursor: pointer;
}
.carousel__mobile-video {
  max-height: 45vh;
  max-width: 100%;
}
.carousel__mobile-audio-control-wrapper {
  display: block;
  position: relative;
  cursor: pointer;
}
.carousel__audio-poster {
  width: auto;
  max-height: 45vh;
  max-width: 100%;
}
.carousel__main-poster {
  cursor: pointer;
}
.carousel__audio-control {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 55px;
}
.carousel__mobile-img {
  max-height: 45vh;
  max-width: 100%;
}
.carousel__thumbnail-wrapper {
  display: none;
  height: fit-content;
  width: fit-content;
  margin: 16px 0;
  box-shadow: -8px -8px 0 0 black;
  border: 3px solid black;
  opacity: 0.6;
}
.carousel__thumbnail {
  cursor: pointer;
}
.carousel__thumbnails img:hover {
  opacity: 1;
}
.carousel__mobile-dots {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  position: absolute;
  bottom: 17px;
  width: 100%;
}
.carousel__mobile-dot {
  width: 10px;
  height: 10px;
  border: 3px solid black;
  background-color: black;
  cursor: pointer;
}
.carousel__mobile-dot--active {
  background-color: #7ECA93;
  width: 20px;
  height: 20px;
}
.carousel__arrows {
  display: none;
}
.carousel__arrow--up, .carousel__arrow--down {
  width: 15px;
  height: 15px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  cursor: pointer;
}
.carousel__arrow--up {
  transform: rotate(-45deg);
  margin-bottom: 64px;
}
.carousel__arrow--down {
  transform: rotate(135deg);
}
.carousel__arrow--hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}
.carousel__main-slide {
  display: none;
  z-index: 4;
}
.carousel__main-audio-control-wrapper {
  display: block;
  position: relative;
  cursor: pointer;
}
.carousel__main-audio-poster, .carousel__main-audio-control {
  width: 100%;
}
.carousel__main-audio-control {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 55px;
}
.carousel__overlay {
  background-color: #999999;
}
.carousel__overlay img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter:
    drop-shadow(0 -4px 0 black)
    drop-shadow(0 4px 0 black)
    drop-shadow(-4px 0 0 black)
    drop-shadow(4px 0 0 black)
    drop-shadow(-8px -8px 0 black);
}
.carousel__overlay-close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}
.carousel__overlay-body {
  display: flex;
}
@media(min-width: 992px) {
  .carousel {
    padding-top: 4rem;
    padding-left: 3em;
    padding-bottom: 0;
    display: flex;
    width: 70%;
    height: 699px;
    border-right: dashed 4px black;
    border-bottom: none;
  }
  .carousel__thumbnails {
    display: block;
    overflow-y: scroll;
    width: 120px;
    height: 100%;
    padding: 0px;
    padding-left: 8px;
    padding-top: 1rem;
  }
  .carousel__thumbnails::-webkit-scrollbar {
    display: none;
  }
  .carousel__thumbnails {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .carousel__mobile-placeholder {
    display: none;
  }
  .carousel__thumbnail-wrapper {
    display: flex;
  }
  .carousel__audio-poster {
    width: 450px;
  }
  .carousel__audio-control {
    width: 450px;
  }
  .carousel__thumbnail--big {
    opacity: 1;
  }
  .carousel__thumbnail--big .carousel__thumbnail--poster {
    width: 120px;
  }
  .carousel__thumbnail--big .carousel__thumbnail--poster {
    opacity: 1;
  }
  .carousel__thumbnail--poster {
    opacity: 0.6;
    width: 84px;
    max-width: 100%;
    max-height: 100%;
    background-color: #333;
  }
  .carousel__thumbnail--poster:hover {
    opacity: 1;
  }
  .carousel__mobile-dots {
    display: none;
  }
  .carousel__arrows {
    display: block;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
  }
  .carousel__main-slide {
    display: block;
    height: 100%;
    max-width: 60%;
    margin: 0 auto;
  }
  .carousel__main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .carousel__img-video-wrapper {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel__main-video-poster, .carousel__main-img-poster {
    width: auto;
    height: auto;
    object-fit: cover;
    border: 4px solid black;
    box-shadow: -8px -8px 0 0 black;
    max-height: 610px;
    max-width: 400px;
    cursor: pointer;
  }
  .carousel__main-audio-poster, .carousel__main-audio-control {
    width: 450px;
  }
}
@media(min-width: 1200px) {
  .carousel__thumbnails {
    width: 135px
  }
  .carousel__thumbnail--big .carousel__thumbnail--poster {
    width: 135px;
  }
  .carousel__img-video-wrapper .carousel__main-img-poster {
    max-width: 600px;
  }
  .carousel__img-video-wrapper .carousel__main-video-poster {
    max-width: 600px;
  }
}
@media(min-width: 1350px) {
  .carousel__img-video-wrapper .carousel__main-img-poster {
    max-width: 720px;
  }
  .carousel__img-video-wrapper .carousel__main-video-poster {
    max-width: 720px;
  }
}
