.card-user-search {
  text-align: center;
  padding: 16px;
  margin: 16px auto;
  margin-bottom: 20%;
  width: 100%;
  height: 100%;
  min-height: 458px;
  position: relative;
}
// .card-user-search-body {
//   margin-top: 45px;
// }
.card-user-search-body-skills {
  transform: rotate(-45deg);
  width: 150px;
  height: 150px;
  color: #d6d6d6;
  position: absolute;
  z-index: 1;
  padding: 6px;
  opacity: 0;
}
.card-user-search-body-skills:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in;
  .background-user-skills {
    background-color: #333;
    opacity: 0.7;
  }
}
.skill-tags {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.skill-tag {
  color: black;
  border: solid black;
  width: auto;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #D1BFF6;
  margin: 1px;
}
.background-user-skills {
  position:absolute;
  width: 213px;
  height: 213px;
  top: -35px;
  left: -32px;
  z-index: -1;
}

.skill-box {
  box-shadow: -6px -6px black;
  border: 3px solid black;
  width: auto;
  padding: 2px;
  background-color: #d6d6d6;
}
.card-user-search-body-skills li {
  list-style-type: none;
  margin: 8px;
}
.card-user-search {
  width: 250px;
  position: relative;
  box-shadow: -6px -6px black;
  border: 3px solid black;
  background-color: #d6d6d6;
  padding: 1rem;
  padding: 1rem;
  margin: 0 auto;
}
.card-user-search-top {
  border-bottom: 4px dashed black;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.card-user-search-top-details {
  padding: 2rem 0 1rem 0;
  height: 100%;
  width: 100%;

}
.card-user-search-top-username-underlined {
  width: fit-content;
  line-height: 1rem;
  .underlined-title {
    background-color: #a089dd;
    position: relative;
    width: 100%;
    height: 18px;
    z-index:0;
    left: 7px;
    top: -2px;
  }
}
.card-user-search-top-username {
  position: relative;
  font-size: 2rem;
  z-index:1;
  white-space: normal;
}
.card-user-search-top-title {
  font-size: 1.5rem;
  text-align: left;
  display: inline-block;
}
.card-user-search-top-skills {
  display: flex;
  margin-top: 1.5rem;
  justify-content: left;
  flex-wrap: wrap;
  .card-user-search-top-skill {
    border: 3px solid black;
    width: fit-content;
    padding: 2px;
    background-color: #646668;
    margin-right: 4px;
    margin-bottom: 4px;
    color: #d6d6d6;
  }
}
.card-user-search-bottom {
  padding-top: 1rem;
}
.card-user-search-bottom-description-title {
  font-size: 1.5rem;
}
.card-user-search-bottom-description {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 60px;
  overflow: hidden;
}
.card-user-search-body-title {
  text-align: center;
  position: absolute;
  bottom: -3px;
  right: -141px;
  transform: rotate(-90deg);
  transform-origin: left;
  margin: 0;
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap
}
.card-project-search {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: fit-content;
  background-color: #333;
  word-wrap: break-word;
  background-clip: border-box;
  border: solid 4px black;
  box-shadow: -8px -8px 0 0 black;
  a {
    text-decoration: none;
    color: white;
  }
}
.card-project-search:hover {
  img {
    filter: brightness(110%);
    transition: filter 0.3s ease-in;
  }
}
.wrapper-title-card-project-search {
  position: relative;
  overflow: hidden;
  border-bottom: solid 4px black;
}
.title-card-project-search {
  padding: 0.5rem;
  text-align: center;
  background-color: #606060;
  color: black;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.title-card-project-search:hover {
  background-color: #707070;
}
.text-card-project-search {
  padding: 0.5rem;
  border-top: solid 4px black;
  padding-top: 35px;
  max-height: 117px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  background-color: #b5b5b5;
  color: black;
}
.status-card-project-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: black;
}
// .ribbon-wrapper {
//   width: 100px;
//   height: 100px;
//   overflow: hidden;
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   // cursor: pointer;
// }
.ribbon {
  color: black;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: absolute;
  padding: 2px 0;
  width: 150px;
  background-color: #7ECA93;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  cursor: pointer;
  left: 95px;
  top: 6px;
  font-size: 0.95rem;
}
.job-details-card {
  max-width: 100%;
}
.big-card {
  background-color: #d6d6d6;
  width: 90%;
  margin: 0 auto;
  margin-top: 230px;
  margin-bottom: 100px;
  border: solid 4px black;
  box-shadow: -8px -8px 0 0 black;
  padding: 0.5rem;
  position: relative;
  z-index: -3;
  a {
    text-decoration: none;
  }
}
.new-inquiry-big-card {
  padding: 3rem;
}
.inquiry-big-card {
  background-color: #d6d6d6;
  margin: 1vh auto;
  margin-top: 12vh;
  border: solid 4px black;
  box-shadow: -8px -8px 0 0 black;
  padding: 0 2rem;
  position: relative;
  z-index: 0;
  width: 65%;
  min-width: 250px;
  a {
    text-decoration: none;
  }
}
.modal-project-user-profile {
  padding: 2rem 0;
}
.card-project-user-profile {
  position: relative;
  width: 270px;
  background-color: #333;
  word-wrap: break-word;
  background-clip: border-box;
  border: solid 4px black;
  margin: 5px auto;
  a {
    text-decoration: none;
    color: white;
  }
  img {
    width: 110px;
    object-fit: cover;
    height: 100%;
    max-height: 120px;
  }
}
.card-project-user-profile:hover {
  box-shadow: black -1px -1px, black -2px -2px, black -3px -3px, black -4px -4px;
  transform: translate3d(4px, 4px, 0);
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
}
.card-img-wrapper-user-profile {
  position: relative;
  border-right: 4px solid black;
}
.title-card-project-user-profile {
  text-align: center;
  background-color: #D1BFF6;
  color: black;
  margin: 0;
  border-bottom: solid 4px black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 148px;
}
.text-card-project-user-profile {
  padding: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 80px;
}
.subtitle-card-collab-user-profile {
  text-align: center;
  background-color: #858585;
  color: black;
  margin: 0;
  border-bottom: solid 4px black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-card-collab-user-profile {
  padding: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 62px;
}
.status-card-project-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: black;
}
.ribbon-wrapper-user-profile {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}
.ribbon-user-profile {
  color: black;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 2px 0;
  left: -55px;
  top: 3px;
  width: 150px;
  background-color: #7ECA93;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
@media(min-width: 500px) {
  .card-project-user-profile {
    width: 470px;
  }
  .title-card-project-user-profile {
    max-width: 348px;
  }
}
@media(min-width: 650px) {
  .card-user-search {
    width: 550px;
    min-height: 298px;
  }
  .card-user-search-top {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }
  .index-diamond-wrapper {
    margin: 0 auto;
  }
  .card-user-search-top-details {
    padding: 0 1rem 0 2rem;
  }
  .card-user-search-top-skills {
    justify-content: right;
    .card-user-search-top-skill {
      margin-right: 0px;
      margin-left: 4px;
    }
  }
}
@media(min-width: 850px) {
  .big-card {
    padding: 2rem;
  }
}
