#modalSmallScreen {
  width: 0px;
  height: 0px;
  z-index: -100;
}
.modal-backdrop {
  width: 0px;
  height: 0px;
  z-index: -100;
}
.carousel-container {
  width: 100%;
  height: 85vh;
  border-bottom: dashed 4px black;
  background: #858585;
  padding-top: 100px;
  padding-bottom: 25px;
}
.carousel-mobile {
  display: flex;
  width: 100%;
  height: 85%;
  padding: 16px;
}
.thumbnails img, .thumbnails video {
  opacity: 1;
  width: auto;
}
.slides {
  display: none;
  z-index: 5;
}
.placeholder-mobile {
  display: flex;
  justify-content: center;
  opacity: 1;
  margin: auto;
  transition:all 0.3s ease;
}
.placeholder-mobile img, .placeholder-mobile video {
  max-height: 45vh;
  max-width: 100%;
  filter:
    drop-shadow(0 -4px 0 black)
    drop-shadow(0 4px 0 black)
    drop-shadow(-4px 0 0 black)
    drop-shadow(4px 0 0 black)
    drop-shadow(-8px -8px 0 black);
}
.arrows {
  display: none;
}
.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.dot {
  width: 10px;
  height: 10px;
  border: solid black;
  margin: 0 24px;
  background-color: black;
}
.dot-active {
  background-color: #7ECA93;
  width: 20px;
  height: 20px;
}
.thumbnails picture {
  display: none;
}
.overlay-small {
  background-color: #999999;
}
.overlay-small-body img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter:
    drop-shadow(0 -4px 0 black)
    drop-shadow(0 4px 0 black)
    drop-shadow(-4px 0 0 black)
    drop-shadow(4px 0 0 black)
    drop-shadow(-8px -8px 0 black);
}
#modalSmallScreen {
  width: 100vw;
  height: 100vh;
  z-index: 1051;
}
.modal-backdrop {
  width: 100vw;
  height: 100vh;
  z-index: 1050;
}
.cursor {
  cursor: pointer;
}
// /* Hide scrollbar for Chrome, Safari and Opera */
// body::-webkit-scrollbar {
//   display: none;
// }
// /* Hide scrollbar for IE, Edge and Firefox */
// body {
//   -ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;  /* Firefox */
// }
@media(min-width: 992px) {
  .carousel-container {
    padding-top: 80px;
    padding-left: 3em;
    padding-bottom: 0;
    display: flex;
    width: 70%;
    height: 100%;
    border-right: dashed 4px black;
    border-bottom: none;
  }
  .thumbnails {
    display: block;
    overflow-y: scroll;
    width: 17%;
    min-width: 120px;
    height: 100%;
    padding: 0 25px 0 8px;
  }
  .thumbnails img, .thumbnails video {
    opacity: 0.6;
    margin: 16px 0;
    filter: drop-shadow(-8px -8px black);
    border: solid;
    width: 70%;
    max-width: 100%;
    max-height: 100%;
    // min-width: 50px;
    // min-height: 50px;
    background-color: #333;
  }
  .thumbnails img:hover, .thumbnails video:hover {
    opacity: 1;
  }
  .thumbnail-bigger img, .thumbnail-bigger video {
    width: 100%;
  }
  .thumbnail-align-top img, .thumbnail-align-top video {
    margin-top: 8px;
  }
  // .slide-thumbnail + img {
  //   cursor: pointer;
  // }
  .thumbnails picture {
    display: block;
  }
  .placeholder-mobile {
    display: none;
  }
  .arrows {
    display: block;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .arrow-up, .arrow-down {
    width: 15px;
    height: 15px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
  }
  .arrow-up {
    transform: rotate(-45deg);
    margin-bottom: 64px;
  }
  .arrow-down {
    transform: rotate(135deg);
  }
  .arrow-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
  }
  .carousel-dots {
    display: none;
  }
  .slides {
    display: block;
    height: 100%;
    max-width: 60%;
    margin: 0 auto;
  }
  .slide-big {
    display: block;
    // max-width: 600px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 64px;
  }
  .img-slide-big {
    width: 100%;
    height: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-slide-big img {
    width: 100%;
    height: 100%;
    // max-width: 100%;
    // max-height: 100%;
    object-fit: contain;
    filter:
      drop-shadow(0 -4px 0 black)
      drop-shadow(0 4px 0 black)
      drop-shadow(-4px 0 0 black)
      drop-shadow(4px 0 0 black)
      drop-shadow(-8px -8px 0 black);
  }
  .img-slide-big video {
    width: 100%;
    height: fit-content;
    // max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter:
      drop-shadow(0 -4px 0 black)
      drop-shadow(0 4px 0 black)
      drop-shadow(-4px 0 0 black)
      drop-shadow(4px 0 0 black)
      drop-shadow(-8px -8px 0 black);
  }
  .overlay {
    background-color: #999999;
  }
  .overlay-body img, .overlay-body video {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter:
      drop-shadow(0 -4px 0 black)
      drop-shadow(0 4px 0 black)
      drop-shadow(-4px 0 0 black)
      drop-shadow(4px 0 0 black)
      drop-shadow(-8px -8px 0 black);
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .thumbnails::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .thumbnails {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
