.card-user {
  width: 250px;
  position: relative;
  box-shadow: -6px -6px black;
  border: 3px solid black;
  background-color: #d6d6d6;
  padding: 1rem;
  padding: 1rem;
  margin: 0 auto;
}
.card-user__top {
  border-bottom: 4px dashed black;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.card-user__details {
  padding: 2rem 0 1rem 0;
  height: 100%;
  width: 100%;
}
.card-user__username-underlined {
  width: fit-content;
  line-height: 1rem;
}
.card-user__username {
  position: relative;
  font-size: 2rem;
  z-index:1;
  white-space: normal;
}
.card-user__underline {
  background-color: #a089dd;
  position: relative;
  width: 100%;
  height: 18px;
  z-index:0;
  left: 7px;
  top: -2px;
}
.card-user__title {
  font-size: 1.5rem;
  text-align: left;
  display: inline-block;
}
.card-user__skills {
  display: flex;
  margin-top: 1.5rem;
  justify-content: left;
  flex-wrap: wrap;
}
.card-user__skill {
  border: 3px solid black;
  width: fit-content;
  padding: 2px;
  background-color: #646668;
  margin-right: 4px;
  margin-bottom: 4px;
  color: #d6d6d6;
}
.card-user__bottom {
  padding-top: 1rem;
}
.card-user__description {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 60px;
  overflow: hidden;
}
.card-user__description-title {
  font-size: 1.5rem;
}
.project-card__wrapper {
  position: relative;
  width: 200px;
  height: fit-content;
  margin: 0 auto 30px auto;
  padding-top: 1rem;
  will-change: transform;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  page-break-inside: avoid;
}
.project-card__wrapper:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: transform 1.5s;
}
.project-card__item {
  margin: 0 auto !important;
  width: 200px;
  height: fit-content;
  position: relative;
  background-color: #333;
  word-wrap: break-word;
  background-clip: border-box;
  border: solid 4px black;
  break-inside: avoid;
  z-index: 200;
  will-change: transform;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  page-break-inside: avoid;
}
.project-card__title-and-ribbon {
  position: relative;
  overflow: hidden;
  border-bottom: solid 4px black;
}
.project-card__title {
  padding: 0.5rem;
  text-align: center;
  background-color: #606060;
  color: black;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.project-card__title:hover {
  background-color: #707070;
}
.project-card__ribbon {
  color: black;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: absolute;
  padding: 2px 0;
  width: 150px;
  background-color: #7ECA93;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  cursor: pointer;
  left: 96px;
  top: 4px;
  font-size: 0.95rem;
}
.project-card__img-and-avatar {
  position: relative;
}
.project-card__img-wrapper {
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 0;
}
.project-card__img {
  transition: transform 1.5s;
  background-color: #232323;
  width: 100%;
}
.project-card__item:hover .project-card__img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  filter: brightness(110%);
  transition: transform 1.5s, filter 0.3s ease-in;
}
.project-card__description {
  padding: 0.5rem;
  border-top: solid 4px black;
  padding-top: 35px;
  max-height: 117px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  background-color: #b5b5b5;
  color: black;
}
.project-card__shadow {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: -1;
}
.project-card--mirrors-mobile-grid {
  border: 4px solid black;
  overflow: hidden;
  width: 300px;
}
.project-card__link {
  text-decoration: none;
  color: black;
}
.project-card__link:hover {
  color: black;
}
.project-card--mirrors-mobile-grid__title {
  padding: 0.5rem;
  text-align: center;
  background-color: #606060;
  color: black;
  margin: 0;
  border-bottom: solid 4px black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.project-card--mirrors-mobile-grid__img-wrapper {
  height: 437.5px
}
.project-card--mirrors-grid__poster {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.project-card--mirrors-mobile-grid__audio-poster {
  display: block;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.project-card--mirrors-mobile-grid__audio-poster-no-size {
  width: 0px;
  height: 0px;
}
.project-card--mirrors-mobile-grid__description {
  border-top: solid 4px black;
  background-color: #b5b5b5;
  color: black;
  padding: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 65px;
}
.project-card--mirrors-grid {
  margin: 0 auto;
  float: left;
  overflow: hidden;
}
.project-card--mirrors-grid__content {
  inset: 0px !important;
  padding: 6px;
}
.project-card--mirrors-grid__title {
  padding: 0.5rem;
  text-align: center;
  background-color: #606060;
  color: black;
  margin: 0;
  border-bottom: solid 4px black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.project-card--mirrors-grid__img-wrapper {
  width: 100%;
  height: calc(100% - 49px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-card--mirrors-grid__picture {
  width: 100%;
  height: 100%;
}
.project-card--mirrors-grid__description {
  max-height: 85px;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #b5b5b5;
  border-top: 2px solid black;
}
.project-card--mirrors-static-grid__frame {
  border: 4px solid black;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.project-card--mirrors-edit-grid__item-wrapper {
  border: 4px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: grab;
}
.project-card--mirrors-edit-grid__title-and-btns-wrapper {
  display: flex;
}
.project-card--mirrors-edit-grid__img-panel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.dashboard-slider-card {
  overflow: hidden;
  position: relative;
  width: 175px;
  min-width: 175px;
  background-color: #333;
  word-wrap: break-word;
  background-clip: border-box;
  border: solid 4px black;
  margin: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.dashboard-slider-card__link {
  text-decoration: none;
}
.dashboard-slider-card__title {
  padding: 0.5rem;
  text-align: center;
  background-color: #606060;
  color: black;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dashboard-slider-card__title:hover {
  background-color: #707070;
}
.dashboard-slider-card__ribbon {
  color: black;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: absolute;
  padding: 2px 0;
  width: 150px;
  background-color: #7ECA93;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  cursor: pointer;
  left: 73px;
  top: 6px;
  font-size: 0.95rem;
}
.dashboard-slider-card__img-wrapper {
  height: 155px;
  border-top: 4px solid black;
}
.dashboard-slider-card__img {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  // ^^ why??
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.dashboard-slider-card__text {
  border-top: solid 4px black;
  color: black;
  background-color: #b5b5b5;
  padding: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 65px;
}
.dashboard-slider-card__btns {
  display: flex;
  border-top: solid 4px black;
  width: 167px;
}
.dashboard-slider-card__btn-text {
  margin: 0;
  padding: 0.5rem;
  color: white;
}
.dashboard-slider-card__btn--edit {
  width: 50%;
  border-right: solid 4px black;
  text-align: center;
  background-color: #333;
}
.dashboard-slider-card__btn--edit:hover {
  background-color: #3d3d3d;
}
.dashboard-slider-card__btn--delete {
  width: 50%;
  text-align: center;
  background-color: #a34646;
}
.dashboard-slider-card__btn--delete:hover {
  background-color: #A75454;
}
.dashboard-slider-card__btn-link {
  text-decoration: none;
}
.dashboard-slider-card__btn--single {
  width: 100%;
}
.dashboard-slider-job-card {
  width: 175px;
  background-color: #868686;
  border: solid 4px black;
  margin: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.dashboard-slider-job-card__title-wrapper {
  border-bottom: solid 4px black;
  width: 100%;
  text-align: center;
  background-color: #606060;
  color: black;
  padding: 0.5rem;
}
.dashboard-slider-job-card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.dashboard-slider-job-card__body {
  background-color: #b5b5b5;
  color: black;
  padding: 1rem 0;
  height: 196px;
  overflow: hidden;
}
.dashboard-slider-job-card__money {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
.dashboard-slider-job-card__description {
  margin: 16px;
  height: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: break-word;
}
.job-card__wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #d6d6d6;
  padding: 1rem;
  border: solid 4px black;
  box-shadow: -8px -8px 0 0 black;
  margin: 3rem auto 0.5rem auto;
}
.job-card__title {
  border-bottom: solid 4px black;
  width: 100%;
  height: 50px;
  text-align: center;
}
.job-card__title-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.job-card__money-and-updated-date-section {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.job-card__description {
  margin: 16px;
  padding-top: 1rem;
  height: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: break-word;
}
.job-card__skills {
  padding-left: 0;
}
.job-card__skill {
  list-style-type: none;
  margin: 8px;
}
@supports (-moz-appearance:none) {
  .project-card__wrapper {
    padding-top: 0;
  }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .project-card__wrapper--safari_only {
    margin-bottom: 0px;
  }
}}
@media(min-width: 576px) {
  .project-card--mirrors-grid {
    width: 215px;
  }
}
@media(min-width: 700px) {
  .project-card--mirrors-grid {
    width: 220px;
  }
}
@media(min-width: 650px) {
  .card-user {
    width: 550px;
    min-height: 298px;
  }
  .card-user__top {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }
  .card-user__details {
    padding: 0 1rem 0 2rem;
  }
  .card-user__skills {
    justify-content: right;
  }
  .card-user__skill {
    margin-right: 0px;
    margin-left: 4px;
  }
}
@media(min-width: 850px) {
  .dashboard-slider-card, .dashboard-slider-job-card {
    min-width: 200px;
    width: 200px;
  }
  .dashboard-slider-card__btns {
    width: 192px;
  }
  .dashboard-slider-card__ribbon {
    left: 98px;
  }
}
@media(min-width: 1200px) {
  .project-card--mirrors-grid {
    width: 200px;
  }
  .project-card--mirrors-grid:nth-child(1) {
    width: 200px;
  }
  .project-card--mirrors-grid:nth-child(2) {
    width: 420px;
  }
  .project-card--mirrors-grid:nth-child(3) {
    width: 640px;
  }
}
