.form-control.is-invalid {
  border-color: #C1292E;
}
.invalid-feedback {
  color: #C1292E;
}
.text-muted {
  color: #333 !important;
}
.form-page {
  display: block;
}
.form-page__title {
  font-size: 3rem;
  position: absolute;
  top: 100px;
  right: 0;
  overflow-x: visible;
  z-index: 4;
  width: fit-content;
}
.form-page__underline {
  height: 25px;
  background-color: #D1BFF6;
  position: relative;
  top: -20px;
  right: 14px;
  z-index: -1;
}
.form-page__form {
  background-color: #d6d6d6;
  margin: 230px 5vw 10vh 5vw;
  border: solid 4px black;
  box-shadow: -8px -8px 0 0 black;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  z-index: 0;
}
.form-page__label {
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 0.5rem;
}
.form-page__input, .form-page__input:focus {
  background-color: #d6d6d6 !important;
  border: 2px solid black;
  border-radius: 0px;
  font-size: 1.5rem;
}
.form-page__input--big {
  height: 35vh;
}
.form-page__input--sign-up:focus {
  border: 2px solid black;
  border-color: #3D00BE;
}
.form-page__content {
  width: 100%;
  padding-top: 3rem;
}
.form-page__uncomplete-profile-note {
  font-size: 1rem;
  color: #C1292E;
  text-align: right;
  margin-bottom: 1rem;
}
.form-page__divider-and-img {
  position: relative;
  width: 35%;
  display: none;
  height: 100vh;
  position: sticky;
  top: 0px;
  overflow: hidden;
}
.form-page__username-and-email {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}
.form-page__username, .form-page__email {
  width: 45%;
}
.form-page__user-title, .form-page__project-title, .form-page__job-title {
  margin-bottom: 2vh;
}
.form-page__input--project-title, .form-page__input--job-title {
  text-align: center;
  line-height: 3rem;
  font-size: 2rem;
}
.form-page__bio-wrapper {
  position: relative;
}
.form-page__bio {
  border-bottom: 4px dashed black;
  padding-bottom: 8vh;
  margin-bottom: 8vh;
}
.form-page__bio-uncomplete-marker {
  position: absolute;
  color: #C1292E;
  font-size: 1.2rem;
  top: 0;
  left: 28px;
}
.form-page__project-description {
  padding-bottom: 8vh;
  margin-bottom: 8vh;
  border-bottom: 4px dashed black;
}
.form-page__job-description {
  margin-bottom: 2vh;
}
.form-page__job-location {
  padding-bottom: 8vh;
  margin-bottom: 8vh;
  border-bottom: 4px dashed black;
}
.form-page__location-date-status-wrapper {
  border-bottom: 4px dashed black;
  padding-bottom: 8vh;
  margin-bottom: 8vh;
}
.form-page__project-location, .form-page__date, .form-page__status {
  margin-bottom: 2vh;
}
.form-page__category-hidden-field, .form-page__skills-hidden-field {
  display: none;
}
.form-page__skills-custom, .form-page__categories-custom {
  border-bottom: 4px dashed black;
  padding-bottom: 8vh;
  margin-bottom: 8vh;
}
.form-page__add-skills, .form-page__add-categories {
  margin-right: 5vw;
  margin-bottom: 5vh;
}
.form-page__add-skills-label, .form-page__add-categories-label {
  display: block;
}
.form-page__add-skills-input-and-btn, .form-page__add-categories-input-and-btn {
  display: flex;
}
.form-page__add-skills-input, .form-page__add-categories-input {
  padding: 0.375rem 0.75rem;
}
.form-page__add-skills-input:focus, .form-page__add-categories-input:focus {
  outline: none !important;
  box-shadow: none;
}
.form-page__skills-list-items, .form-page__categories-list-items {
  padding-left: 0;
}
.form-page__attributes-list-item {
  display: flex;
  width: fit-content;
  margin-right: 1vw;
  margin-bottom: 2vh;
  padding: 0;
}
.form-page__social-media {
  display: block;
  border-bottom: 4px dashed black;
  padding-bottom: 8vh;
  margin-bottom: 8vh;
}
.form-page__input::placeholder {
  font-size: 1rem;
}
.form-page__upload-picture {
  display: block;
}
.form-page__upload-picture-btn {
  display: block;
}
.form-page__avatar-placeholder {
  position: relative;
  margin-right: 2vw;
}
.form-page__preview-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: space-between;
  margin-top: 2vh;
  margin-bottom: 3vh;
  gap: 3vh 0;
  align-items: center;
}
.form-page__preview-photo-wrapper {
  position: relative;
  margin-right: 5vw;
}
.form-page__preview-photo {
  filter: drop-shadow(-6px -6px black);
  border: solid;
  height: 15vh;
  max-width: 100%;
  max-height: 100%;
  min-height: 50px;
  background-color: #333;
}
.form-page__preview-photo--audio-poster {
  width: 100px;
  background-image: asset-url("logo-audio.png");
  background-size: cover;
  background-position: center;
}
.form-page__preview-delete-wrapper {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  background-color: black;
  width: 30px;
  height: 34px;
}
.form-page__preview-delete-btn {
  color: #a34646;
  font-size: 2rem;
  position: absolute;
  top: -10px;
  left: 4px;
}
.form-page__label-new-project-attachment {
  color: black;
  margin: 0;
  padding: 8px;
  cursor: pointer;
  display: flex;
  width: fit-content;
}
.form-page__icon-new-project-attachment {
  margin-right: 0.5rem;
  padding-top: 0.25rem;
}
.form-page__link-new-project-attachment {
  text-decoration: none;
  color: black;
}
.form-page__link-new-project-attachment:hover {
  color: black;
}
.form-page__new-project-attachment--hidden {
  display: none;
}
.form-page__payment-type-dropdown-wrapper, .form-page__job-status-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 2rem;
}
.form-page__payment-type-dropdown, .form-page__job-status {
  display: flex;
  align-items: center;
}
.form-page__payment-type-input, .form-page__job-status-input {
  width: fit-content;
  margin-right: 0.3rem;
}
.form-page__payment-type-label, .form-page__job-money-label, .form-page__job-status-label {
  width: 100px;
  margin-right: 1rem;
}
.form-page__job-money-wrapper {
  display: flex;
  align-items: center;
}
.form-page__job-money {
  display: flex;
  align-items: center;
}
.form-page__job-money-input {
  width: 70px;
}
.form-page__job-money-trailing-label {
  margin-left: 0.3rem;
}
.form-page__job-money-wrapper, .form-page__job-status-wrapper {
  margin-top: 2rem;
}
.form-page__job-details-section {
  max-width: 100%;
}
.form-page__job-details-title, .form-page__new-inquiry-title {
  margin-top: 3rem;
  font-size: 2rem;
  display: inline-block;
}
.form-page__job-details-underline, .form-page__new-inquiry-underline {
  width: 95%;
  background-color: #858585;
  position: relative;
  height: 18px;
  top: -19px;
  right: 3px;
  z-index: -1;
}
.form-page__job-details-job-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.form-page__job-quote--first {
  margin-right: 1.5rem;
}
.form-page__job-quote--last {
  margin-left: 1.5rem;
}
.form-page__job-quote--text {
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
}
.form-page__job-skills {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 0;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 1;
  list-style-type: none;
}
.form-page__job-skills-label {
  margin-right: 3rem;
}
.form-page__job-skill-box {
  box-shadow: -6px -6px black;
  border: 3px solid black;
  width: auto;
  padding: 2px;
  background-color: #d6d6d6;
  margin-right: 1rem;
}
.form-page__job-link-wrapper {
  margin-bottom: 3rem;
}
.form-page__job-link {
  text-decoration: none;
  color: black;
  transition: box-shadow .3s, color .3s;
  font-size: calc(1.275rem + 0.3vw);
}
.form-page__job-link:hover {
  color: black;
  box-shadow: inset 0 -30px 0 #7ECA93, 0 2px 0 #7ECA93;
  text-decoration: none;
}
.form-page__new-inquiry-section {
  border-top: 8px dashed black;
}
.login-form__link {
  color: black;
  transition: box-shadow .3s, color .3s, text-decoration .3s;
  font-size: calc(1.275rem + 0.3vw);
}
.login-form__link:hover, .login-form__link:focus {
  color: #333;
  box-shadow: inset 0 -30px 0 #7ECA93, 0 2px 0 #7ECA93;
  text-decoration: none;
}
.devise-form__container {
  background: #858585;
  padding-top: 3rem;
  padding-left: 15%;
  padding-right: 15%;
  height: fit-content;
  min-height: 100vh;
}
.devise-form__brand {
  width: 230px;
  height: 80px;
  border: 3px dashed black;
  margin: 32px auto;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  box-sizing: border-box;
}
.devise-form__brand::before {
  height: 80px;
  width: 210px;
}
.devise-form__brand::after {
  width: 230px;
  height: 60px;
}
.devise-form__brand::before, .devise-form__brand::after {
  position: absolute;
  background: #858585;
  z-index: -1;
  transition: 1s;
  content: '';
}
.devise-form__brand:hover::before {
  width: 0px;
  background: #858585;
}
.devise-form__brand:hover::after {
  height: 0px;
  background: #858585;
}
.devise-form__brand:hover {
  border: 3px dashed #333;
  background: #858585;
  color: #333;
}
.devise-form__brand-link {
  text-decoration: none;
  color: black;
}
.devise-form__brand-link:hover {
  color: #333;
}
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.devise-form__video-section {
  display: none;
}
.devise-form__video {
  display: none;
}
.devise-form__checkbox[type="checkbox"] {
  border: 2px solid black;
  border-radius: 0px;
}
.new-member-form {
  margin-top: 2.5rem;
  position: absolute;
  top: -11px;
  left: 0;
  display: none;
  width: 100%;
  background-color: #3D00BE;
  box-shadow: -6px -6px black;
  border: solid 4px black;
  color: white;
}
.new-member-form--show {
  display: block !important;
  position: static !important;
}
.new-member-form__content {
  display: flex;
  align-items: center;
  height: 60px;
}
.new-member-form__field {
  border-right: 2px solid black;
  width: 100%;
}
.new-member-form__label {
  height: 30px;
  padding: 4px;
  outline: 2px solid black;
  width: 100%;
}
.new-member-form__input {
  padding: 0;
  border: 0px !important;
  border-bottom: 2px solid white !important;
  border-radius: 0px;
  height: 30px;
  padding-left: 4px;
}
.new-member-form__btn {
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: #3D00BE;
  display: inline-block;
  width: 33%;
  color: white;
}
.new-member-form__btn:hover {
  background-color: #5A26C9;
}
.new-member-form__error {
  color: #C1292E;
}
@media(min-width: 450px) {
  .form-page__title {
    font-size: 4rem;
    right: 2vw;
    width: fit-content;
  }
  .form-page__underline {
    height: 33px;
    top: -27px;
  }
  .form-page__content {
    padding: 3rem;
  }
  .form-page__skills-custom, .form-page__categories-custom {
    display: flex;
    justify-content: start;
  }
  .form-page__add-skills, .form-page__add-categories {
    margin-bottom: 0;
  }
  .form-page__skills-list-items, .form-page__categories-list-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .new-member-form__content {
    height: 60px;
  }
  .new-member-form__field {
    height: 60px;
  }
  .new-member-form__label {
    height: 30px;
  }
  .new-member-form__input {
    height: 30px;
    border-bottom: 2px solid white !important;
  }
  .new-member-form__btn {
    height: 60px;
    padding: 0;
  }
  .form-page__payment-type-label, .form-page__job-money-label, .form-page__job-status-label {
    width: fit-content;
  }
}
@media(min-width: 600px) {
  .form-page__input, .form-page__input:focus {
    font-size: 1.3rem;
  }
  .form-page__content {
    padding: 1rem;
  }
  .form-page__payment-type-dropdown-wrapper {
    margin-bottom: 0;
  }
}
@media(min-width: 850px) {
  .form-page__uncomplete-profile-note {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
@media(min-width: 992px) {
  .form-page {
    display: flex;
  }
  .form-page__form-and-title {
    width: 65%;
  }
  .form-page__title {
    font-size: 6rem;
    right: 22vw;
    top: 60px;
    width: fit-content;
  }
  .form-page__underline {
    height: 49px;
    top: -39px;
    right: 20px;
  }
  .form-page__divider-and-img {
    display: block;
  }
  .form-page__divider--first {
    position: sticky;
    z-index: 2;
  }
  .form-page__divider--first::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 100vh solid #9b9b9b;
    border-right: 37vw solid transparent;
    width: 0;
    z-index: 2;
  }
  .form-page__divider--second {
    position: sticky;
    z-index:1;
  }
  .form-page__divider--second::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    border-top: 100vh solid black;
    border-right: 37vw solid transparent;
    width: 0;
    z-index: 1;
    outline: 2px solid black;
  }
  .form-page__img {
    display: block;
    height: 100vh;
    border-left: 2px solid black;
    filter: grayscale(100%);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  .form-page__img--update-user {
    background: linear-gradient(to top, rgba(0,0,0,0.1),#333), asset-url("clay.png");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-page__img--new-project {
    background: linear-gradient(to top, rgba(0,0,0,0.1),#333), asset-url("white_page.png");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-page__img--edit-project {
    background: linear-gradient(to top, rgba(0,0,0,0.1),#333), asset-url("paper_bin.png");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-page__img--new-job {
    background: linear-gradient(to top, rgba(0,0,0,0.1),#333), asset-url("newspapers.png");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-page__img--edit-job {
    background: linear-gradient(to top, rgba(0,0,0,0.1),#333), asset-url("billboard.png");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-page__img--new-inquiry {
    background: linear-gradient(to top, rgba(0,0,0,0.1),#333), asset-url("sewing_thread.png");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-page__img--edit-inquiry {
    background: linear-gradient(to top, rgba(0,0,0,0.1),#333), asset-url("workshop.png");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-page__social-media {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .form-page__social-media-item {
    width: 30%;
  }
  .form-page__upload-picture {
    display: flex;
    justify-content: space-between;
  }
  .form-page__location-date-status-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .form-page__project-location, .form-page__date, .form-page__status {
    flex-grow: 1;
  }
  .devise-form {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 15%;
    padding-right: 15%;
    width: 60%;
  }
  .devise-form__container {
    display: flex;
    padding: 0;
    height: auto;
  }
  .devise-form__video-section {
    display: block;
    width: 40%;
    height: 100vh;
    position: sticky;
    top: 0;
    border-left: 2px solid black;
  }
  .devise-form__video-text {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #d6d6d6;
    z-index: 10;
    font-size: 2em;
    padding: 48px;
  }
  .devise-form__video-text--highlight {
    border-bottom: 4px dashed #d6d6d6;
  }
  .devise-form__video-gradient {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, #333);
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  .devise-form__video {
    display: block;
    filter: grayscale(95%);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
@media(min-width: 1200px) {
  .form-page__job-payment-and-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-page__payment-type-dropdown-wrapper, .form-page__job-money-wrapper, .form-page__job-status-wrapper {
    margin: 0;
  }
}
