.project-results-grid {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1 ;
  column-gap: 30px;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0 10rem 0;
}
.portfolio-page__mobile-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.portfolio-page__grid-stack {
  display: none;
}
@media(min-width: 515px) {
  .project-results-grid {
    column-count: 2;
    width: 80%;
  }
}
@media(min-width: 785px) {
  .project-results-grid {
    column-count: 3;
  }
}
@media(min-width: 992px) {
  .user-profile-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, auto);
    min-height: 100vh;
  }
  .user-profile-grid__details-section {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  .user-profile-grid__bio-skills-section {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 8;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .user-profile-grid__bio-section {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .user-profile-grid__skills-section {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .user-profile-grid__buttons-section {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  .user-profile-grid__socialmedia-section {
    grid-column-start: 1;
    grid-column-end: 11;
  }
}
@media(min-width: 1100px) {
  .project-results-grid {
    column-count: 4;
  }
}
@media(min-width: 1200px) {
  .portfolio-page__grid-stack {
    background-color: #d6d6d6;
    display: grid;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
  }
  .portfolio-page__mobile-grid {
    display: none;
  }
}
@media(min-width: 1350px) {
  .project-results-grid {
    column-count: 5;
  }
}
