#hamburger-flex-space {
  width: 33px;
  height: 22px;
}
.hamburger-menu__toggle-sidebar {
  position: fixed;
  top: 14px;
  right: 14px;
  width: 33px;
  z-index: 10;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.hamburger-menu__checkbox {
  display: block;
  position: absolute;
  width: 38px;
  height: 27px;
  top: -2px;
  left: -3px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
.hamburger-menu__checkbox:checked {
  top: -6px;
  left: -5px;
  width: 30px;
  height: 28px;
}
.hamburger-menu__screen-blur {
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
.hamburger-menu__checkbox:checked ~ .hamburger-menu__screen-blur {
  opacity: 1;
  pointer-events: auto;
}
.hamburger-menu__burger-slice {
  display: block;
  width: 33px;
  height: 4px;
  position: relative;
  background: #494949;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
.hamburger-menu__burger-slice--top {
  transform-origin: 0% 0%;
}
.hamburger-menu__burger-slice--middle {
  margin-top: 5px;
  margin-bottom: 5px;
}
.hamburger-menu__burger-slice--bottom {
  transform-origin: 0% 100%;
}
.hamburger-menu__checkbox:checked ~ .hamburger-menu__burger-slice {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -3px);
  background: #232323 !important;
}
.hamburger-menu__checkbox:checked ~ .hamburger-menu__burger-slice--middle {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.hamburger-menu__checkbox:checked ~ .hamburger-menu__burger-slice--bottom {
  opacity: 1;
  transform: rotate(-45deg) translate(0, 0px);
}
.hamburger-menu__checkbox:checked ~ .hamburger-menu__navigation {
  transform: none;
  opacity: 1;
}
.hamburger-menu__navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: -100px 0 0 0;
  padding: 0;
  padding-top: 13em;
  background: #d6d6d6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.hamburger-menu__brand {
  margin: 1rem 0;
  width: fit-content;
  font-size: 2rem;
  padding: 10px 40px;
}
.hamburger-menu__brand-underline {
  height: 23px;
  top: -22px;
  right: 11px;
  background-color: #9b9b9b;
  position: relative;
  z-index: -1;
}
.hamburger-menu__list {
  font-size: 22px;
  padding-left: 0;
}
.hamburger-menu__link {
  text-decoration: none;
  color: black;
}
.hamburger-menu__link:hover {
  color: gray;
}
.hamburger-wrapper-visible {
  right: -19px;
}
.hamburger-menu__sections {
  padding-left: 0;
  font-size: 1.3rem;
}
.hamburger-menu__section {
  list-style-type: none;
  margin-left: 4rem;
  border-left: solid 3px black;
}
.hamburger-menu__section--first-section {
  border-bottom: solid 3px black;
  padding-bottom: 0.5rem;
}
.hamburger-menu__section--second-section {
  padding-top: 0.5rem;
}
.hamburger-menu__item {
  padding: 10px 0;
}
.hamburger-menu__item--messages {
  position: relative;
  width: fit-content;
}
.hamburger-menu__messages-badge {
  position: absolute;
  background-color: white;
  width: 3px;
  height: 3px;
  opacity: 0.3;
  top: 21px;
  right: -2px;
  border-radius: 50%;
  box-shadow: 0 0 0 7px #E25043;
}
@media(min-width: 992px) {
  .hamburger-menu__navigation {
    width: 53%;
    border-left: solid 2px black;
  }
}
