.preloader {
  width: 100%;
  background-color: #212121;
  position: relative;
  top: 0;
  left: 0;
  z-index: 11001;
  overflow: hidden;
  transition: height 1s cubic-bezier(.44,.45,.18,1) 4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preloader--is-visible {
  height: 100vh;
}
.preloader--is-not-visible {
  height: 0;
}
.preloader--skipped {
  display: none;
}
.preloader__text-wrapper {
  position: relative;
}
.preloader__text {
  cursor: default;
  color: #d6d6d6;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}
.preloader__text-cover {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #212121;
  transition: width 3s cubic-bezier(.44,.45,.18,1) 1s;
}
.preloader__text-cover--is-hidding {
  width: 100%;
}
.preloader__text-cover--is-not-hidding {
  width: 0%;
}
@media(min-width: 450px) {
  .preloader__text {
    font-size: 5rem;
  }
}
@media(min-width: 870px) {
  .preloader__text {
    font-size: 11rem;
    letter-spacing: 0.3rem;
  }
}
