html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.navbar-dark {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  justify-content: end;
  z-index: 5;
}
.navbar-brand {
  margin: 0 1rem;
}
.form-control:focus {
  border: 1px solid #4600DA;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.user-menus, .user-gate {
  padding: 0;
  margin: 0 2.5rem;
  font-size: 1.5rem;
  position: fixed;
  cursor: pointer;
}

.user-menus li, .user-gate li {
  display: inline;
  margin-right: 1rem;
}
.user-menus li:last-child, .user-gate li:last-child {
  margin-right: 1rem;
}
.user-menus li a, .user-gate li a {
  text-decoration: none;
  color: #858585;
  cursor: pointer;
}
.user-gate li {
  color: #858585;
  transition: color 0.6s ease-in-out;
}
.user-gate li a:hover {
  color: #d6d6d6 !important;
}
.user-gate {
  white-space: nowrap;
  transform: translateY(10px) translateX(-10px) rotate(-90deg);
  transform-origin: top right;
}
.search-bar-large {
  border: none;
  z-index: 0;
  display: none;
  margin-left: 3rem;
}
.search-bar-large .form-control {
  border: none;
}
.search-bar-small {
  justify-content: center;
  margin-top: 58px;
  z-index: 0;
}
.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.navbar-right {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding-right: 4rem;
  margin: 0;
  align-items: center;
  width: 40%;
}
.navbar-right-menu {
  margin-right: 2rem;
  font-size: 1.25rem;
  a {
    text-decoration: none;
    color: black;
  }
}
.dropdown-menu {
  background-color: #d6d6d6;
  border: solid 2px black;
  a {
    color: black;
  }
}
.user-gate li .sign-up-btn-navbar {
  padding: 0 4px;
  background-color: #cff170;
  color: #333 !important;
  transition: all 0.2s ease;
}
.user-gate li .sign-up-btn-navbar:hover {
  filter: brightness(120%);
  color: #333 !important;
  letter-spacing: 2px;
}
@media(min-width: 992px) {
  .search-bar-large {
    display: flex;
  }
  .search-bar-small {
    display: none;
  }
}
