.vertical-navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 5;
  position: relative;
  padding: 0;
}
.vertical-navbar__menus {
  white-space: nowrap;
  transform: translateY(10px) translateX(-10px) rotate(-90deg);
  transform-origin: top right;
  margin: 0 2.5rem;
  font-size: 1.5rem;
  position: fixed;
  display: flex;
  list-style-type: none;
  right: 0;
}
.vertical-navbar__menu-item {
  margin-right: 1rem;
}
.vertical-navbar__menu-item--brand {
  margin-right: 2rem;
}
.vertical-navbar__menu-item-separator {
  color: #858585;
  margin-right: 1rem;
}
.vertical-navbar__link {
  text-decoration: none;
  color: #858585;
}
.vertical-navbar__link:hover {
  color: #d6d6d6
}
.vertical-navbar__link--sign-up {
  text-decoration: none;
  padding: 0 4px;
  background-color: #cff170;
  color: #333;
  transition: all 0.2s ease;
}
.vertical-navbar__link--sign-up:hover {
  color: #333;
  filter: brightness(120%);
  letter-spacing: 2px;
}
.vertical-navbar__brand-container {
  overflow: hidden;
  display: inline-block;
}
.vertical-navbar__brand-text {
  color: #858585;
  height: 29px;
  display: inline-block;
}
.vertical-navbar__brand-text::before {
  position: absolute;
  top: 100%;
  content: "InfamousBerlin";
  transform: translate3d(0,0,0);
  color: #858585;
}
.vertical-navbar__brand-text:hover {
  transform: translateY(-100%);
  transition: transform 0.6s;
}

