.search-tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dash-tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-tabs-underlined li {
  font-size: 40px;
}
.dash-tabs-underlined li {
  font-size: calc(1.275rem + 0.3vw);
}
.search-tabs-underlined .search-tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  // border-bottom: 4px solid transparent;
}
.dash-tabs-underlined .dash-tab-underlined {
  color: black;
  padding: 4px;
  margin: 4px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  // border-bottom: 4px solid transparent;
}
.search-tabs-underlined .search-tab-underlined.tab-active, .dash-tabs-underlined .dash-tab-underlined.tab-active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
