<div class="modal fade modal-crop-portfolio-js" id="cropModal<%= mirror.id %>" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content cropper-modal-popup">
      <div class="modal-header cropper-modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resize the image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body cropper-modal-body w-100">
        <div>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 1200px)">
            <% if mirror.project.attachments.first.image? %>
              <%= cl_image_tag mirror.project.attachments.first.key, class: "grid-search-big-item-img placeholder-img-gridstack tag-cropper-js mw-100" %>
            <% elsif mirror.project.attachments.first.audio? %>
              <%= cl_image_tag "logo-audio", class: "grid-search-big-item-img placeholder-img-gridstack tag-cropper-js mw-100" %>
            <% else %>
              <%= image_tag("http://res.cloudinary.com/dbpv82leg/video/upload/#{mirror.project.attachments.first.key}.jpg", class: "grid-search-big-item-img placeholder-img-gridstack tag-cropper-js mw-100") %>
            <% end %>
          </picture>
        </div>
      </div>
      <div class="modal-footer cropper-modal-footer">
        <button type="button" class="btn crop-cropper-btn" data-bs-dismiss="modal">Crop image</button>
      </div>
    </div>
  </div>
</div>
