<%= render 'shared/hamburger' %>
<%= render 'shared/brand' %>

<div class="portfolio-mobile-grid">
  <% @mirrors.each do |mirror|  %>
    <%= render partial: "mirror_mobile_grid", locals: { mirror: mirror } %>
  <% end %>
</div>
